			<footer class="footer">
				<div class="container"><a class="scroll-to-top" id="scroll-to-top" rel="nofollow" href="/404.html"></a>
					<div class="footer-main">
						<div class="footer-item footer-info-wrap">
							<div class="footer-info-logo-wrap"><a class="footer-info-logo" href="/404.html"><img src="images/site-logo.svg" alt=""></a></div>
							<div class="footer-info">Государственное бюджетное учреждение культуры Тверской области является государственной некоммерческой организацией в форме государственного бюджетного учреждения культуры</div>
						</div>
						<ul class="footer-item footer-nav__list list-reset">
							<li class="footer-nav__list-item"><a class="footer-nav__list-link" href="/tour/tour.html"><span>Виртуальный тур</span></a></li>
							<li class="footer-nav__list-item"><a class="footer-nav__list-link" href="/404.html"><span>Магазин</span></a></li>
							<li class="footer-nav__list-item"><a class="footer-nav__list-link" href="/404.html"><span>Послание спонсорам</span></a></li>
							<li class="footer-nav__list-item"><a class="footer-nav__list-link" href="/404.html"><span>Билеты</span></a></li>
							<li class="footer-nav__list-item"><a class="footer-nav__list-link" href="/404.html"><span>Новости и события</span></a></li>
						</ul>
						<ul class="footer-item footer-nav__list list-reset">
							<li class="footer-nav__list-item"><a class="footer-nav__list-link" href="/404.html"><span>Закупки</span></a></li>
							<li class="footer-nav__list-item"><a class="footer-nav__list-link" href="/404.html"><span>Документы</span></a></li>
							<li class="footer-nav__list-item"><a class="footer-nav__list-link" href="/404.html"><span>Правила посещения</span></a></li>
							<li class="footer-nav__list-item"><a class="footer-nav__list-link" href="/404.html"><span>Противодействие коррупции</span></a></li>
							<li class="footer-nav__list-item"><a class="footer-nav__list-link" href="/404.html"><span>Контакты</span></a></li>
						</ul>
						<div class="footer-item footer-contacts">
							<div class="footer-location-item"><span class="footer-location-item__ic"></span><a class="footer-location-item__content" href="/404.html">
									<div class="footer-location-item__title">Тверская областная картинная галерея</div>
									<div class="footer-location-item__text">г. Тверь, ул. Советская, д. 3 </div></a></div>
							<div class="footer-location-item"><span class="footer-location-item__ic"></span><a class="footer-location-item__content" href="/404.html">
									<div class="footer-location-item__title">Мемориально-художественный музей Валентина Серова в Домотканово</div>
									<div class="footer-location-item__text">Калининский район, Бурашевское сельское поселение, д. Красная Новь</div></a></div>
							<div class="footer-location-item"><span class="footer-location-item__ic"></span><a class="footer-location-item__content" href="/404.html">
									<div class="footer-location-item__title">Мемориально-художественный музей Владимира Серова</div>
									<div class="footer-location-item__text">Калининский район, п. Эммаус, д. № 29</div></a></div>
							<div class="footer-location-item"><span class="footer-location-item__ic"></span><a class="footer-location-item__content" href="/404.html">
									<div class="footer-location-item__title">Центр культуры и искусства - дача  «Чайка» художника В.К.Бялыницкого-Бируля </div>
									<div class="footer-location-item__text">Удомельский район, Порожкинское сельское поселение, д. Касково</div></a></div>
						</div>
					</div>
					<div class="footer-actions">
						<div class="footer-partners"><a class="footer-partners__item" href="/404.html"><img src="images/logo1.png" alt=""></a><a class="footer-partners__item" href="/404.html"><img src="images/logo2.png" alt=""></a><a class="footer-partners__item" href="/404.html"><img src="images/logo3.png" alt=""></a>
							<div class="footer-link-wrap footer-partners__item"><a class="footer-link" href="/404.html">Независимая оценка качества предоставления услуг ГБУК Тверской области «Тверская областная картинная галерея».</a></div>
						</div>
						<div class="footer-actions-social">
							<div class="footer-social">
								<div class="footer-social__title">Мы в соц. сетях</div>
								<div class="footer-social-icons social"><a class="social__ic ic ic-vk" href="/404.html">
										<svg>
											<use xlink:href="images/sprites.svg#vk"></use>
										</svg></a><a class="social__ic ic ic-facebook" href="/404.html">
										<svg>
											<use xlink:href="images/sprites.svg#facebook"></use>
										</svg></a><a class="social__ic ic ic-instagram" href="/404.html">
										<svg>
											<use xlink:href="images/sprites.svg#instagram"></use>
										</svg></a><a class="social__ic ic ic-ok" href="/404.html">
										<svg>
											<use xlink:href="images/sprites.svg#ok"></use>
										</svg></a></div>
							</div>
							<form class="footer-subscribe">
								<div class="footer-subscribe__title">Подпишитесь на рассылку новостей галереи</div>
								<div class="footer-subscribe__input-wrap">
									<input class="footer-subscribe__input input-styled" type="text" placeholder="Введите ваш E-mail">
									<button class="footer-subscribe__btn btn-reset" type="button"></button>
								</div>
							</form>
						</div>
					</div>
					
					<div class="footer-other">
						<div class="footer-other__links">
							<div class="footer-other__item">
								<a href="https://krsk2019.com/ru" class="footer-other__link" target="_blank">
									<img src="images/univers.png" alt="">
								</a>
							</div>
							<div class="footer-other__item">
								<a href="https://grants.culture.ru/" class="footer-other__link" target="_blank">
									<img src="images/grants.png" alt="">
								</a>
							</div>
							
							<div class="footer-other__item">
								<a href="https://all.culture.ru/intro#events" class="footer-other__link footer-link" target="_blank">
									АИС «Единое информационное пространство в сфере культуры»
								</a>
							</div>
							
							<div class="footer-other__item">
								<a href="https://gallery.tverreg.ru/news/1518/" class="footer-other__link" target="_blank">
									<img src="images/sreda.png" alt="">
								</a>
							</div>
							<div class="footer-other__item">
								<a href="https://gallery.tverreg.ru/news/2098/" class="footer-other__link" target="_blank">
									<img src="images/itsmine.png" alt="">
								</a>
							</div>
						</div>
					</div>
					
				</div>
				<div class="footer-bottom">
					<div class="container">
						<div class="footer-bottom__copy">Использование материалов сайта допускается только с указанием источника</div>
						<div class="footer-bottom__dev">Сайт разработан студией <a href="https://holmax.ru/" target="_blank" class="footer-bottom__dev-link">holmax.ru</a></div>
					</div>
				</div>
			</footer>
		</div>
		
        <div class="modal fade" id="productModal_23" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="product-modal__content">
							<div class="product-slider owl-carousel">
								<div class="product-slider__item">
									<img src="images/product1.png" alt="">
								</div>
								<div class="product-slider__item">
									<img src="images/product1.png" alt="">
								</div>
								<div class="product-slider__item">
									<img src="images/product1.png" alt="">
								</div>
							</div>
							<div class="product-description">
								<div class="row">
									<div class="col-lg-8">
										<p>Кружка, расписанная под хохлому Кружка, расписанная под хохлому</p>
									</div>
									<div class="col-lg-4">
										<p class="price">150 <img src="images/bluerub.png" alt=""></p>
									</div>
								</div>
							</div>
							<div class="product-specifications">
								<div class="row">
									<div class="col-lg-6">
										<div class="product-specifications__block">
											<div class="characteristic">
												<p>Цвет:</p>
											</div>
											<div class="value">
												<p>Чрный</p>
											</div>
										</div>
										<div class="product-specifications__block">
											<div class="characteristic">
												<p>Материал:</p>
											</div>
											<div class="value">
												<p>Дерево</p>
											</div>
										</div>
										<div class="product-specifications__block">
											<div class="characteristic">
												<p>Производитель:</p>
											</div>
											<div class="value">
												<p>ООО «Сувенир»</p>
											</div>
										</div>
										<div class="product-specifications__block">
											<div class="characteristic">
												<p>Размер:</p>
											</div>
											<div class="value">
												<p>15х15 см</p>
											</div>
										</div>
										<div class="product-specifications__block">
											<div class="characteristic">
												<p>Объем:</p>
											</div>
											<div class="value">
												<p>0.3 л</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
    	</div>
    	
    	<div class="modal fade" id="leadershipModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="leadership-block">
							<div class="leadership-block__item">
								<div class="row">
									<div class="col-lg-7 col-12">
										<p class="name">Куюкина Татьяна Савватеевна</p>
										<p>Директор</p>
									</div>
									<div class="col-lg-5 col-12">
										<p class="phone"><a href="tel:84822342561" class="link">(48-22) 34-25-61</a></p>
									</div>
								</div>
							</div>
							<div class="leadership-block__item">
								<div class="row">
									<div class="col-lg-7 col-12">
										<p class="name">Николашин Валерий Павлович</p>
										<p>Заместитель директора по развитию и cодержанию материально-технического комплекса и хозяйственной деятельности</p>
									</div>
									<div class="col-lg-5 col-12">
										<p class="phone"><a href="tel:84822348446" class="link">(48-22) 34-84-46</a></p>
									</div>
								</div>
							</div>
							<div class="leadership-block__item">
								<div class="row">
									<div class="col-lg-7 col-12">
										<p class="name">Николаев Андрей Юрьевич</p>
										<p>Заместитель директора по учету, хранению, реставрации и безопасности музейных предметов.</p>
									</div>
									<div class="col-lg-5 col-12">
										<p class="phone"><a href="tel:84822342561" class="link">(48-22) 34-25-61</a></p>
									</div>
								</div>
							</div>
							<div class="leadership-block__item">
								<div class="row">
									<div class="col-lg-7 col-12">
										<p class="name">Чирва Наталья Владимировна</p>
										<p>Заместитель директора по экономике - главный бухгалтер </p>
									</div>
									<div class="col-lg-5 col-12">
										<p class="phone"><a href="tel:84822342561" class="link">(48-22) 34-25-61</a></p>
										<p class="phone"><a href="tel:84822342561" class="link">(48-22) 34-25-61</a></p>
									</div>
								</div>
							</div>
							<div class="leadership-block__item">
								<div class="row">
									<div class="col-lg-7 col-12">
										<p class="name">Дежурный</p>
									</div>
									<div class="col-lg-5 col-12">
										<p class="phone"><a href="tel:84822342561" class="link">(48-22) 34-25-61</a></p>
										<p class="phone"><a href="tel:84822342561" class="link">(48-22) 34-25-61</a></p>
									</div>
								</div>
							</div>
							<div class="leadership-block__item">
								<div class="row">
									<div class="col-lg-7 col-12">
										<p class="name">Манюк Валерий Владимирович</p>
										<p>Мемориально-художественный музей Валентина Александровича Серова в Домотканово</p>
									</div>
									<div class="col-lg-5 col-12">
										<p class="phone"><a href="tel:84822342561" class="link">(48-22) 34-25-61</a></p>
									</div>
								</div>
							</div>
							<div class="leadership-block__item">
								<div class="row">
									<div class="col-lg-7 col-12">
										<p class="name">Диченская Наталья Борисовна</p>
										<p>Мемориально-художественный музей Владимира Александровича Серова в п Эммаусе</p>
									</div>
									<div class="col-lg-5 col-12">
										<p class="phone"><a href="tel:84822342561" class="link">(48-22) 34-25-61</a></p>
										<p class="phone"><a href="tel:84822342561" class="link">(48-22) 34-25-61</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
    	</div>
		
		<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-block">
							<div class="form-group">
								<label>Ваше имя</label>
								<input type="text" value="Константин Константинович Константинопольский" class="form-control">
							</div>
							<div class="form-group">
								<label>Контактный номер</label>
								<input type="text" class="form-control">
							</div>
							<div class="form-group">
								<label>Электронная почта</label>
								<input type="text" class="form-control">
								<p class="error-form">Необходимо заполнить поле</p>
							</div>
							<div class="form-group">
								<label>Расскажите, что вас интересует</label>
								<input type="text" class="form-control">
							</div>
							<div class="form-block__actions">
								<a class="btn" href="#">Купить билет</a>
								<p class="note">Отправляя данные формы, вы даете свое согласие на обработку персональных данных. </p>
							</div>												
						</div>
					</div>
				</div>
			</div>
    	</div>
      
      <div class="modal fade" id="formTicket" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
                        <h2 class="h2">Заказ билетов на сайте ГБУК ТОКГ</h2>
                        <p><strong>Государственное бюджетное учреждение культуры Тверской области «Тверская областная картинная галерея». (сокращенное название ГБУК ТОКГ)</strong></p>
                       
                        <p><strong>Юридический адрес:</strong> 170100, г. Тверь, ул. Советская, д. 3<br> 
                        <strong>Почтовый адрес:</strong> 170100, г. Тверь, ул. Советская, д. 3<br> 
                        <strong>Электронная почта:</strong> tvergallery@mail.ru<br> 
                        <strong>Контактный телефон:</strong> (4822) 34-84-57 – бухгалтерия<br> 
                        <strong>Телефон приемной / Факс:</strong> (4822) 34-25-61</p>
                        
                        <p><strong>Реквизиты:</strong><br>
                        л/сч 20065043260 в Министерстве финансов Тверской обл. <br>
                        р/сч 40601810700003000001 в Отделении Тверь г. Тверь<br>
                        БИК 042809001 <br>
                        ИНН 6905036413 КПП 695001001 <br>
                        ОКПО 05100516, ОКВЭД 91.02, ОКТМО 28701000001 <br>
                        ОКОГУ 2300231, ОКФС 13, ОКОПФ 75203 <br>
                        ОГРН 1026900559058 (29.11.2002 г.) <br>
                        Директор – Куюкина Татьяна Савватеевна <br>
                        Действует на основании Устава.</p>
                        
                        <p>Государственное бюджетное учреждение культуры Тверской области «Тверская областная картинная галерея» является государственной некоммерческой организацией в форме государственного бюджетного учреждения культуры (далее Галерея), осуществляющей культурную, просветительскую и научную деятельность по сохранению, созданию, распространению и освоению культурных ценностей.</p>
                        <p>
                        <a href="#">Пользовательское соглашение</a><br>
                        <a href="#">О ценах на платные услуги</a>
                        </p>
                        <p><strong>Оплата банковской картой</strong><br>
                        Для выбора оплаты товара с помощью банковской карты на соответствующей странице необходимо нажать кнопку «Оплата заказа банковской картой». Оплата происходит через ПАО СБЕРБАНК с использованием Банковских карт следующих платежных систем: МИР, VISA, Mastercard, Maestro.</p>
                        
                        <div class="pay-logo">
                            <div class="pay-logo__item">
                                <img src="images/pay/visa.svg" alt="">
                            </div>
                            <div class="pay-logo__item">
                                <img src="images/pay/mastercard.svg" alt="">
                            </div>
                            <div class="pay-logo__item">
                                <img src="images/pay/maestro.svg" alt="">
                            </div>
                            <div class="pay-logo__item">
                                <img src="images/pay/mir.svg" alt="">
                            </div>
                        </div>
                        
                        <p>Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платежный шлюз ПАО СБЕРБАНК. Соединение с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL. В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa или MasterCard SecureCode для проведения платежа также может потребоваться ввод специального пароля. </p>
                        <p>Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ПАО СБЕРБАНК. Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем МИР, Visa Int. и MasterCard Europe Sprl.
                        </p>
                        
                        <div class="custom-checkbox">
                            <input type="checkbox" class="custom-checkbox__input" id="customControlValidation1" required>
                            <label class="custom-checkbox__label" for="customControlValidation1">Я ознакомлен</label>
                        </div>
                        
                        <a class="btn" href="#">Продолжить</a>
                        
					</div>
				</div>
			</div>
    	</div>
       
       	<script type="text/javascript" src="js/jquery.min.js"></script>
       	
        <script type="text/javascript" src="js/masonry.pkgd.js"></script>
        <script type="text/javascript" src="js/imagesloaded.pkgd.js"></script>
        
		<script type="text/javascript" src="js/vendor.min.js"></script>
		<script type="text/javascript" src="js/holmax.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
		
	</body>
</html>