</div>

<div class="modal fade slider-madal" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="product-modal__content">
                    <div class="product-slider owl-carousel">
                        <div class="product-slider__item">
                            <img src="images/slide5.png" alt="">
                            <p>Подпись к фотографии или картине, пояснение</p>
                        </div>
                        <div class="product-slider__item">
                            <img src="images/slide5.png" alt="">
                            <p>Подпись к фотографии или картине, пояснение</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    

</script>

<script type="text/javascript" src="js/jquery.min.js"></script>
       	
<script type="text/javascript" src="js/masonry.pkgd.js"></script>
<script type="text/javascript" src="js/imagesloaded.pkgd.js"></script>

<script type="text/javascript" src="js/vendor.min.js"></script>
<script type="text/javascript" src="js/holmax.js"></script>
<script type="text/javascript" src="js/script.js"></script>

</body>

</html>
