.header-menu-bottom>li.active>a{
	color: #2b6e5a;
}

.one-item-page__slider .show-img-wrap {
    display: inline-block;
    cursor: url(../images/plus.png), pointer;
}

span.to-increase {
    position: relative;
    display: block;
    cursor: url(../images/plus.png), pointer;
}

.modal {
    display: none;
    z-index: 999999;
}

.modal-backdrop {
    background: rgba(0, 0, 0, 0.2);
}

.modal.fade.show {
    background: none;
}

.fancybox-slide {
    width: 100%;
}

.fancybox-button svg path {
    stroke-width: 1px;
}

.one-item-page__slider .show-img-wrap:after {
    content: '';
    display: none;
}

span.to-increase:after {
    display: none;
}

@media (max-width:1580px) {

    .main-slider__item:after {
        left: 1%;
        right: 1%;
    }

    .main-slider__content {
        padding: 41px 31px;
    }

    .main-slider-arrows-wrap {
        padding-right: 35px
    }

}

@media (max-width:1440px) {
    .main-slider__content {
        padding: 41px 20px;
    }

    .main-slider-arrows-wrap {
        padding-right: 25px
    }

}

@media (max-width:991px) {
	
	.main-slider__content {
        padding: 41px 35px;
    }

    .main-slider__item:after {
        left: 3%;
        right: 3%;
    }
}

@media (max-width:575px) {
	
	.main-slider{
		height: 90%;
	}
	
	.main-slider__content {
        padding: 41px 15px;
    }

    .main-slider__item:after {
        left: 1%;
        right: 1%;
    }
}