//= ./partials/header.html

<main class="error-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-page--content text-page--content-center">
                    <img src="images/err.png" alt="" />
                    <p>Страницы, которую вы пытаетесь посмотреть, тут нет.</p>
                    <p>Попробуйте перейти <a href="#">на главную</a> или воспользуйтесь меню</p>
                </div>
            </div>
        </div>
    </div>
</main>

//= ./partials/footer.html