//= ./partials/header.html

<main class="text-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="vacancy-block">
                    <h1>Просветительская деятельность</h1>
                </div>
            </div>
            <div class="col-lg-8 col-12">
                <div class="vacancy-content">
                    <p class="title">Просветительская и методическая работа:</p>
                    <ul>
                        <li>Оказание методической помощи сторонним организациям, учреждениям и частным лицам по направлениям деятельности картинной галереи,</li>
                        <li>Проведение научных конференций, круглых столов, семинаров, совещаний, выставок и прочих социально-культурных мероприятий,</li>
                        <li>Организацию и проведение культурных и просветительских мероприятий, в т.ч. организация изобразительных классов, мультимедийных кинотеатров, чтение лекций по истории архитектуры и изобразительному искусству, проведение учебных практик студентов, обмен специалистами, презентация выставок, семинаров,</li>
                        <li>Организацию и проведение зрелищных мероприятий культурно-массового характера, в. т.ч. концертов, музыкальных вечеров, творческих встреч, театрализованных представлений, конкурсов, ярмарок, фестивалей, творческих мастерских, клубных, художественных студий.</li>
                    </ul>
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <button class="bth-accordion" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Экскурсионное обеспечение
                                </button>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <li><a href="#">Цены на платные услуги в Тверской областной картинной галерее и ее филиалах</a></li>
                                        <li><a href="#">Приказ о внесении изменений в прейскурант " О ценах на платные услуги"</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <button class="bth-accordion collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Экскурсионные программы
                                </button>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <p><strong>Тематические экскурсии(1 академический час):</strong></p>
                                    <ol>
                                        <li>Экскурсия по Парадной Анфиладе Тверского императорского дворца</li>
                                        <li>Западноевропейское искусство в собрании ТОКГ</li>
                                        <li>Древнерусское искусство в собрании ТОКГ</li>
                                        <li>Современное искусство в собрании ТОКГ</li>
                                        <li>Художники Тверского края</li>
                                        <li>Экскурсии по временным выставкам в Тверском императорском дворце и БЦ «Донской»</li>
                                    </ol>
                                    <p>Обзорная экскурсия (2 академических часа).</p>
                                    <p>Обзорная экскурсия (3 академических часа).</p>
                                    <p>Индивидуальная консультация научного сотрудника (до 20 минут).</p>
                                    <p>Экскурсия по фондам Тверской областной галереи (раз в месяц, по предварительной записи).</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <button class="bth-accordion collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Информационно образовательный центр «Русский музей: виртуальный филиал»
                                </button>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Проект «Русский музей: виртуальный филиал» реализуется Русским музеем с 2003 года. Целью проекта является приобщение широкой зрительской аудитории к ценностям российской культуры, историческому прошлому России через свободный доступ к электронно-цифровым и печатным материалам, а также формирование единого культурно-информационного пространства между участниками проекта. В Тверской областной картинной галерее Виртуальный филиал был открыт 21 июля 2005 года.</p>
                                    <p>Информационно-образовательный центр "Русский музей: виртуальный филиал" состоит из мультимедийного кинотеатра и информационно-образовательного класса. Содержательным наполнением центра является Медиатека, включающая интерактивные мультимедийные программы и фильмы, созданные Русским музеем и сотрудниками Тверской областной картинной галереи.</p>
                                    <div class="slider-action owl-carousel">
                                        <div class="slider-action__item">
                                            <a href="images/slide1.jpg" data-fancybox="">
                                                <span class="to-increase">
                                                    <img src="images/slide1.jpg" alt="">
                                                </span>
                                            </a>
                                            <p>Подпись к фотографии</p>
                                        </div>
                                        <div class="slider-action__item">
                                            <a href="images/slide1.jpg" data-fancybox="">
                                                <span class="to-increase">
                                                    <img src="images/slide1.jpg" alt="">
                                                </span>
                                            </a>
                                            <p>Подпись к фотографии</p>
                                        </div>
                                        <div class="slider-action__item">
                                            <a href="images/slide1.jpg" data-fancybox="">
                                                <span class="to-increase">
                                                    <img src="images/slide1.jpg" alt="">
                                                </span>
                                            </a>
                                            <p>Подпись к фотографии</p>
                                        </div>
                                    </div>
                                    <p>В информационно-образовательном классе, оснащенном компьютерами посетители могут самостоятельно работать с входящими в Медиатеку программами Русского музея, посетить Портал проекта, сайт Русского музея и другие Интернет-ресурсы, связанные с культурным наследием России. Здесь же проводятся занятия для детской аудитории, студентов, в том числе, по методикам Российского центра музейной педагогики и детского творчества.</p>
                                    <p>Мультимедийный кинотеатр представляет собой зрительный зал, оснащенный проекционным оборудованием. В нем посетители знакомятся с фильмами о художниках, истории русского искусства, коллекциях Русского музея и художественных музеев России и др. Благодаря применению последних достижений информационных технологий и технологий виртуальной реальности, трехмерного компьютерного моделирования, эти программы дают возможность совершить виртуальные туры по дворцам Русского музея и познакомиться с его экспозициями.</p>
                                    <p><strong>Виртуальный филиал Русского музея в Тверской областной картинной галереи функционирует на двух площадках:</strong></p>
                                    <ol>
                                        <li>Восточная башня Тверского императорского дворца – ул. Советская, д. 3.</li>
                                        <li>Выставочный зал в БЦ «Донского» - ул. Дмитрия Донского, д.37 стр. 1.</li>
                                    </ol>
                                    <ul class="vacancy-nav">
                                        <li><a href="#">Посетить виртуальный филиал Русского Музея</a></li>
                                        <li><a href="#">Более подробная информация</a></li>
                                        <li><a href="#">События филиала</a></li>
                                    </ul>
                                    <div class="act-images">
                                        <a href="#"><img src="images/act1.png" alt=""></a>
                                        <a href="#"><img src="images/act2.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

//= ./partials/footer.html
