//= ./partials/header.html

<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-12">
                <div class="documents-block">
                    <h1>Противодействие коррупции</h1>
                    <p>По номеру 8 (4822) 00-00-00 граждане могут информировать о выявленных фактах коррупции среди<br /> руководящего состава и руководителей подразделений Тверской областной картинной галереи. <br />Время работы «телефона доверия» с понедельника по четверг с 9.00 до 18.00, пятница —с 9.00 до 15.30 . <br />Также Вы можете направить своё обращение на электронную почту tvergallery@mail.ru .</p>
                </div>
            </div>
            <div class="col-12">
                <div class="documents-menu">
                    <ul class="documents-list">
                        <li><a href="#">Федеральный закон о противодействии коррупции</a></li>
                        <li><a href="#">Кодекс профессиональной этики</a></li>
                        <li><a href="#">Комиссия по противодействию коррупции и положение о ее работе</a></li>
                        <li><a href="#">Положение о противодействии коррупции</a></li>
                        <li><a href="#">План мероприятий на 2019 год</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>

//= ./partials/footer.html
