//= ./partials/header.html

<main>
    <div class="container">
        <div class="calendar-memory">
            <div class="row">
                <div class="col-lg-7 col-12">
                    <h1>Календарь памятных дат</h1>
                    <p>У страны должны быть герои, и люди должны их знать. Это должны быть ориентиры, на примерах которых сегодняшние поколения могли бы воспитываться и воспитывать своих детей. Это очень важно!</p>
                    <p class="autor">В. В. Путин</p>
                </div>
            </div>
        </div>
        <div class="collection-block__content">
            <div class="row">
                <div class="col-lg-3 col-12">
                    <div class="left-sidebar">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <button class="bth-accordion" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Выбрать месяц
                                    </button>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <ul class="collection-menu">
                                            <li><a href="#">Январь</a></li>
                                            <li><a href="#">Февраль</a></li>
                                            <li><a href="#">Март</a></li>
                                            <li><a href="#">Апрель</a></li>
                                            <li><a href="#">Май</a></li>
                                            <li><a href="#">Июнь</a></li>
                                            <li><a href="#">Июль</a></li>
                                            <li><a href="#">Август</a></li>
                                            <li><a href="#">Сентябрь</a></li>
                                            <li><a href="#">Октябрь</a></li>
                                            <li><a href="#">Ноябрь</a></li>
                                            <li><a href="#">Декабрь</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-12 ">
                    <div class="calendar-memory__block">
                        <h2>Январь</h2>
                        <div class="calendar-memory__item">
                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <img src="images/memory.jpg" alt="" />
                                </div>
                                <div class="col-md-8 col-12">
                                    <p class="date">07 января</p>
                                    <p class="title">Памятная дата военной истории России </p>
                                    <p>В этот день в 1878 году началось сражение с турецкой армией при Шейново (Болгария), в котором русские войска одержали стратегически важную победу. Легендарном генералу Скобелеву она добавила славы, а русскую армию приблизила к победоносному окончанию войны 1877-1878 годов.</p>
                                    <a href="#" class="link-more">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="calendar-memory__item">
                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <img src="images/memory.jpg" alt="" />
                                </div>
                                <div class="col-md-8 col-12">
                                    <p class="date">12 января</p>
                                    <p class="title">Памятная дата военной истории России</p>
                                    <p>В этот день в 1945 году советские войска начали Висло-Одерскую операцию. После тщательной подготовки войска Жукова и Конева разгромили сильную немецкую группировку в Польше в первые дни, а в начале февраля советская армия оказалась в 60-70 километрах от Берлина.</p>
                                    <a href="#" class="link-more">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="calendar-memory__item">
                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <img src="images/memory.jpg" alt="" />
                                </div>
                                <div class="col-md-8 col-12">
                                    <p class="date">17 января</p>
                                    <p class="title">Памятная дата военной истории России</p>
                                    <p>В этот день в 1945 году советские войска освободили Варшаву от немецко-фашистских войск.</p>
                                    <a href="#" class="link-more">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="calendar-memory__item">
                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <img src="images/memory.jpg" alt="" />
                                </div>
                                <div class="col-md-8 col-12">
                                    <p class="date">27 января</p>
                                    <p class="title">День воинской славы России</p>
                                    <p>В этот день в 1944 году советские войска освободили от блокады немецко-фашистских войск город Ленинград.</p>
                                    <a href="#" class="link-more">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collections-main__btn-wrap text-center"><a class="btn" href="#">Показать еще</a></div>
                </div>
            </div>
        </div>
    </div>
</main>

//= ./partials/footer.html
