//= ./partials/header.html

<main>
  
   <div class="collection-block__video-wrap">
   <div class="container">

            <div class="collection-block__image collection-block__image--video">
               <video id="kamin_video"  preload="true" loop="" autoplay="" muted="">
  					<source src="images/video1.mp4" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;">
  			   </video>
            </div>

    </div>
    </div>
   
    <div class="container">
        <div class="collection-block__text">
            <div class="row">
                <div class="col-lg-7 col-12">
                    <h1>Коллекция</h1>
                    <p>В настоящее время художественное собрание галереи насчитывает около 32 тысяч экспонатов. Оно включает в себя коллекции культового («древнерусского») искусства XIV — XX вв., русской живописи, графики и скульптуры XVIII — XX вв., западноевропейского искусства XV — XX вв., декоративно-прикладного искусства России, Европы, Востока.</p>
                </div>
                <div class="col-lg-5 col-12">
                    <div class="link">
                        <a href="#" class="link-more">История коллекции</a>
                    </div>
                </div>
                <div class="col">
                    <form class="search__form" action="">
                        <input class="search__form-input input-styled" type="text" placeholder="Поиск по ключевому слову">
                        <input class="search__form-btn btn-reset" type="submit">
                    </form>
                </div>
            </div>
        </div>
        <div class="collection-block__content">
            <div class="row">
                <div class="col-lg-3 col-12">
                    <div class="left-sidebar">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <button class="bth-accordion" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Все категории
                                    </button>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <ul class="collection-menu">
                                            <li><a href="#">Все категории</a></li>
                                            <li><a href="#" class="selected">Иконы и фрески</a></li>
                                            <li><a href="#">Живопись</a></li>
                                            <li><a href="#">Графика</a></li>
                                            <li><a href="#">Скульптура</a></li>
                                            <li><a href="#">Декоративно-прикладное искусство</a></li>
                                            <li><a href="#">Народное творчество</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <button class="bth-accordion collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Все страны
                                    </button>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        <ul class="collection-menu">
                                            <li><a href="#">Россия</a></li>
                                            <li><a href="#">Франция</a></li>
                                            <li><a href="#">Греция</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <button class="bth-accordion collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Все периоды
                                    </button>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        <ul class="collection-menu">
                                            <li><a href="#">Зима</a></li>
                                            <li><a href="#">Весна</a></li>
                                            <li><a href="#">Лето</a></li>
                                            <li><a href="#">Осень</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <button class="bth-accordion collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Все авторы
                                    </button>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                    <div class="card-body">
                                        <ul class="collection-menu">
                                            <li><a href="#">Первый</a></li>
                                            <li><a href="#">Второй</a></li>
                                            <li><a href="#">Третий</a></li>
                                            <li><a href="#">Четвертый</a></li>
                                            <li><a href="#">Пятый</a></li>
                                            <li><a href="#">Шестой</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9">
                    <div class="collections-items-wrap" id="collections-items-wrap">
                        <div class="collections-item-gutter-sizer"></div>
                        <div class="collections-item">
                            <a class="show-img-link" href="#">
                                <span class="show-img-wrap">
                                    <img class="show-img" src="images/coll1.jpg" alt="">
                                </span>
                            </a>
                            <span class="autor-collection">Кустодиев Борис Михайлович</span>
                            <a href="#" class="autor-title">Портрет Леонида Павловича Альбрехта нахзвание в две строки</a>
                        </div>
                        <div class="collections-item">
                            <a class="show-img-link" href="#">
                                <span class="show-img-wrap">
                                    <img class="show-img" src="images/coll2.jpg" alt="">
                                </span>
                            </a>
                            <span class="autor-collection">Константинопольский Константин Константинович</span>
                            <a href="#" class="autor-title">Портрет Леонида Павловича Альбрехта</a>
                        </div>
                        <div class="collections-item">
                            <a class="show-img-link" href="#">
                                <span class="show-img-wrap">
                                    <img class="show-img" src="images/coll3.jpg" alt="">
                                </span>
                            </a>
                            <span class="autor-collection">Кустодиев Борис Михайлович</span>
                            <a href="#" class="autor-title">Портрет Леонида Павловича Альбрехта</a>
                        </div>
                        <div class="collections-item">
                            <a class="show-img-link" href="#">
                                <span class="show-img-wrap">
                                    <img class="show-img" src="images/coll1.jpg" alt="">
                                </span>
                            </a>
                            <span class="autor-collection">Кустодиев Борис Михайлович</span>
                            <a href="#" class="autor-title">Портрет Леонида Павловича Альбрехта нахзвание в две строки</a>
                        </div>
                        <div class="collections-item">
                            <a class="show-img-link" href="#">
                                <span class="show-img-wrap">
                                    <img class="show-img" src="images/coll3.jpg" alt="">
                                </span>
                            </a>
                            <span class="autor-collection">Кустодиев Борис Михайлович</span>
                            <a href="#" class="autor-title">Портрет Леонида Павловича Альбрехта</a>
                        </div>
                        <div class="collections-item">
                            <a class="show-img-link" href="#">
                                <span class="show-img-wrap">
                                    <img class="show-img" src="images/coll2.jpg" alt="">
                                </span>
                            </a>
                            <span class="autor-collection">Константинопольский Константин Константинович</span>
                            <a href="#" class="autor-title">Портрет Леонида Павловича Альбрехта</a>
                        </div>
                        <div class="collections-item">
                            <a class="show-img-link" href="#">
                                <span class="show-img-wrap">
                                    <img class="show-img" src="images/coll3.jpg" alt="">
                                </span>
                            </a>
                            <span class="autor-collection">Кустодиев Борис Михайлович</span>
                            <a href="#" class="autor-title">Портрет Леонида Павловича Альбрехта</a>
                        </div>
                        <div class="collections-item">
                            <a class="show-img-link" href="#">
                                <span class="show-img-wrap">
                                    <img class="show-img" src="images/coll1.jpg" alt="">
                                </span>
                            </a>
                            <span class="autor-collection">Кустодиев Борис Михайлович</span>
                            <a href="#" class="autor-title">Портрет Леонида Павловича Альбрехта нахзвание в две строки</a>
                        </div>
                        <div class="collections-item">
                            <a class="show-img-link" href="#">
                                <span class="show-img-wrap">
                                    <img class="show-img" src="images/coll2.jpg" alt="">
                                </span>
                            </a>
                            <span class="autor-collection">Константинопольский Константин Константинович</span>
                            <a href="#" class="autor-title">Портрет Леонида Павловича Альбрехта</a>
                        </div>
                    </div>
                    <div class="collections-main__btn-wrap text-center"><a class="btn" href="#">Показать еще</a></div>
                </div>
            </div>
        </div>
    </div>
</main>

//= ./partials/footer.html
