//= ./partials/header.html

<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-12">
                <div class="contact-block__caption">
                    <h1 class="page__title">Контакты</h1>
                    <p>Если у вас появились вопросы или пожелания, запоните форму обратной связи и в ближайшее время мы свяжемся с вами.</p>
                    <a href="#" class="link-form" data-toggle="modal" data-target="#formModal">Заполнить форму</a>
                </div>
            </div>
            <div class="col-12">
                <div class="contact-block">
                    <div class="contact-block__item">
                        <div class="row">
                            <div class="col-12">
                                <div class="contact-content">
                                    <p class="title">Тверская областная картинная галерея</p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-12">
                                <div class="contact-content__item">
                                   
                                    <div class="contact-content__icon"><img src="images/pin.svg" alt="" /></div>
                                   
                                    <p>г. Тверь, ул. Советская, д. 3 </p>
                                    <a href="yandexmaps://maps.yandex.ru/?rtext=55.745719,37.604337~г.Тверь,ул.Советская,д.3&rtt=mt" class="link-route">Проложить маршрут</a>
                                </div>
                                <div class="contact-content__item opening-hours-contact">
									<div class="contact-content__icon"><img src="images/clock.svg" alt="" /></div>
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            
                                            <div class="opening-hours__block">
                                                <div class="day">
                                                    <p>Ср—Вскр:</p>
                                                </div>
                                                <div class="time">
                                                    <p>10:00 — 18:00</p>
                                                </div>
                                                <div class="day">
                                                    <p>Ср—Вскр:</p>
                                                </div>
                                                <div class="time">
                                                    <p>10:00 — 18:00</p>
                                                </div>
                                                <div class="day">
                                                    <p>Ср—Вскр:</p>
                                                </div>
                                                <div class="time">
                                                    <p>10:00 — 18:00</p>
                                                </div>
                                            </div>
                                            <div class="opening-hours__block">
                                                <div class="day">
                                                    <p>Пн—Вт:</p>
                                                </div>
                                                <div class="time">
                                                    <p>Выходной</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <p><span>Касса закрывается за час до окончания работы галереи</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-content__item">
                                    <div class="contact-content__icon"><img src="images/phone.svg" alt="" /></div>
                                    <p>
                                        <a href="tel:84822342561" class="link">(48-22) 34-25-61</a> — Директор Куюкина Татьяна Савватеевна <br />
                                        <a href="#" class="link-people" data-toggle="modal" data-target="#leadershipModal">Директор, заведующие и отделы галереи</a>
                                    </p>
                                </div>
                                <div class="contact-content__item">
                                    <div class="contact-content__icon"><img src="images/mail.svg" alt="" /></div>
                                    <p><a href="mailto:mail@vergallery@mail.ru" class="link">vergallery@mail.ru</a></p>
                                </div>
                                <div class="contact-content__item">
                                    <div class="footer-social-icons social">
                                        <a class="social__ic ic ic-vk" href="/404.html">
                                            <svg>
                                                <use xlink:href="images/sprites.svg#vk"></use>
                                            </svg>
                                        </a>
                                        <a class="social__ic ic ic-facebook" href="/404.html">
                                            <svg>
                                                <use xlink:href="images/sprites.svg#facebook"></use>
                                            </svg>
                                        </a>
                                        <a class="social__ic ic ic-instagram" href="/404.html">
                                            <svg>
                                                <use xlink:href="images/sprites.svg#instagram"></use>
                                            </svg>
                                        </a>
                                        <a class="social__ic ic ic-ok" href="/404.html">
                                            <svg>
                                                <use xlink:href="images/sprites.svg#ok"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-12">
                                <div class="map">
                                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Acdd02124e3b038ef89d45d935c95e37e66fc40a3aa04a4035eae03629d764ac2&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp"></script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contact-block__item">
                        <div class="row">
                            <div class="col-12">
                                <div class="contact-content">
                                    <p class="title">Мемориально-художественный музей Валентина Серова в Домотканово</p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-12">
                                <div class="contact-content__item">
                                    <p><img src="images/pin.svg" alt="" /> Калининский район, Бурашевское сельское поселение, д. Красная Новь</p>
                                    <a href="#" class="link-route">Проложить маршрут</a>
                                </div>
                                <div class="contact-content__item opening-hours-contact">
                                    <img src="images/clock.svg" alt="" />
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="opening-hours__block">
                                                <div class="day">
                                                    <p>Ср—Вскр:</p>
                                                </div>
                                                <div class="time">
                                                    <p>10:00 — 18:00</p>
                                                </div>
                                            </div>
                                            <p><strong>С 01.05 по 30.09</strong></p>
                                            <div class="opening-hours__block">
                                                <div class="day">
                                                    <p>Пн—Ср:</p>
                                                </div>
                                                <div class="time">
                                                    <p>10:00 — 18:00</p>
                                                </div>
                                            </div>
                                            <div class="opening-hours__block">
                                                <div class="day">
                                                    <p>Чт:</p>
                                                </div>
                                                <div class="time">
                                                    <p>11:00 — 20:00</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <p><span>Касса закрывается за час до окончания работы галереи</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-content__item">
                                    <p>
                                        <img src="images/phone.svg" alt="" />
                                        <a href="tel:89030343311" class="link">+7 (903) 034-33-11</a><br />
                                    </p>
                                </div>
                                <div class="contact-content__item">
                                    <img src="images/net.svg" alt="" />
                                    <p><a href="#" class="site-link">www.domotkanovo.gallery.tver.ru</a></p>
                                </div>
                                <div class="contact-content__item">
                                    <div class="footer-social-icons social">
                                        <a class="social__ic ic ic-vk" href="/404.html">
                                            <svg>
                                                <use xlink:href="images/sprites.svg#vk"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-12">
                                <div class="map">
                                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Acdd02124e3b038ef89d45d935c95e37e66fc40a3aa04a4035eae03629d764ac2&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp"></script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contact-block__item">
                        <div class="row">
                            <div class="col-12">
                                <div class="contact-content">
                                    <p class="title">Мемориально-художественный музей Владимира Серова</p>
                                    
                                </div>
                            </div>
                            <div class="col-lg-5 col-12">
                                <div class="contact-content__item">
                                    <p><img src="images/pin.svg" alt="" /> Калининский район, п. Эммаус, д. 29</p>
                                    <a href="#" class="link-route">Проложить маршрут</a>
                                </div>
                                <div class="contact-content__item opening-hours-contact">
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <img src="images/clock.svg" alt="" />
                                            <div class="opening-hours__block">
                                                <div class="day">
                                                    <p>Ср—Вскр:</p>
                                                    <p><strong>Вторник — экскурсионный день по предварительной записи</strong></p>
                                                </div>
                                                <div class="time">
                                                    <p>10:00 — 18:00</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <p><span>Касса закрывается за час до окончания работы галереи</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-content__item">
                                    <p>
                                        <img src="images/phone.svg" alt="" />
                                        <a href="tel:84822378432" class="link">(48-22) 37-84-32</a><br />
                                    </p>
                                </div>
                                <div class="contact-content__item">
                                    <div class="footer-social-icons social">
                                        <a class="social__ic ic ic-vk" href="/404.html">
                                            <svg>
                                                <use xlink:href="images/sprites.svg#vk"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-12">
                                <div class="map">
                                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Acdd02124e3b038ef89d45d935c95e37e66fc40a3aa04a4035eae03629d764ac2&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp"></script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contact-block__item">
                        <div class="row">
                            <div class="col-12">
                                <div class="contact-content">
                                    <p class="title">Центр культуры и искусства — дача «Чайка» художника В.К.Белыницкого-Бируля</p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-12">
                                <div class="contact-content__item">
                                    <p><img src="images/pin.svg" alt="" /> Удомельский район, Порожкинское сельское поселение, д. Касково</p>
                                    <a href="#" class="link-route">Проложить маршрут</a>
                                </div>
                                <div class="contact-content__item opening-hours-contact">
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <img src="images/clock.svg" alt="" />
                                            <div class="opening-hours__block">
                                                <div class="day">
                                                    <p>Ср—Вскр:</p>
                                                </div>
                                                <div class="time">
                                                    <p>10:00 — 18:00</p>
                                                </div>
                                            </div>
                                            <div class="opening-hours__block">
                                                <div class="day">
                                                    <p>Пн:</p>
                                                    <p><strong>Вторник — экскурсионный день по записи</strong></p>
                                                </div>
                                                <div class="time">
                                                    <p>Выходной</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <p><span>Касса закрывается за час до окончания работы галереи</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-content__item">
                                    <p>
                                        <img src="images/phone.svg" alt="" />
                                        <a href="tel:89157248716" class="link">+7 (915) 724-87-16</a><br />
                                    </p>
                                </div>
                                <div class="contact-content__item">
                                    <p><img src="images/net.svg" alt="" /> <a href="#" class="site-link">chaika-udomlya.ru</a></p>
                                </div>
                                <div class="contact-content__item">
                                    <div class="footer-social-icons social">
                                        <a class="social__ic ic ic-vk" href="/404.html">
                                            <svg>
                                                <use xlink:href="images/sprites.svg#vk"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-12">
                                <div class="map">
                                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Acdd02124e3b038ef89d45d935c95e37e66fc40a3aa04a4035eae03629d764ac2&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp"></script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

//= ./partials/footer.html