//= ./partials/header.html

<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="documents-block">
                    <h1>Документы</h1>
                    <p>В этом разделе вы можете ознакомиться со всеми документами.</p>
                </div>
                <div class="documents-menu">
                    <ul class="documents-list">
                        <li><a href="#" class="selected">Годовые отчеты</a></li>
                        <li><a href="#">Локальные нормативные акты</a></li>
                        <li><a href="#">Независимая оценка качества</a></li>
                        <li><a href="#">Противодействие коррупции</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>

//= ./partials/footer.html
