//= ./partials/header.html

<main>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="collection-block__image">
                    <img src="images/exhibition.jpg" alt="" />
                </div>
            </div>
        </div>
        <div class="collection-block__text">
            <div class="exhibition-block">
                <div class="row">
                    <div class="col-lg-8 col-12">
                        <div class="exhibition-block__caption">
                            <h1>Выставки</h1>
                            <div class="shop-block__text">
                                <p>Сейчас в галерее проводятся не только выставки, но и различные мероприятия и лекционные занятия для детей и взрослых. Сейчас в галерее проводятся не только выставки, но и различные мероприятия и лекционные занятия для детей и взрослых.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="opening-hours__collection">
                            <div class="opening-hours">
                                <p><strong>Часы работы:</strong></p>
                                <div class="opening-hours__block">
                                    <div class="day">
                                        <p>Ср—Вскр:</p>
                                    </div>
                                    <div class="time">
                                        <p>10:00 — 18:00</p>
                                    </div>
                                </div>
                                <div class="opening-hours__block">
                                    <div class="day">
                                        <p>Пн—Вт:</p>
                                    </div>
                                    <div class="time">
                                        <p>Выходной</p>
                                    </div>
                                </div>
                                <p><span>Касса закрывается за час до окончания работы галереи</span></p>
                                <p><a href="#" class="mode">Режим работы филиалов</a></p>
                                <a class="btn" href="#">Купить билет</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="exhibition-filter">
            <div class="row">
                <div class="col-lg-3 col-12">
                    <select name="">
                        <option>Текущие выставки</option>
                        <option>Будущие выставки</option>
                        <option>Виртуальные выставки</option>
                        <option>Архив выставок</option>
                    </select>
                </div>
                <div class="col-lg-3 col-12">
                    <select name="">
                        <option>Все площадки</option>
                        <option>Будущие выставки</option>
                        <option>Виртуальные выставки</option>
                        <option>Архив выставок</option>
                        <option>Все площадки</option>
                        <option>Виртуальные выставки</option>
                        <option>Архив выставок</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="exhibition-content">
            <div class="collections-items-wrap" id="collections-items-wrap">
                <div class="collections-item-gutter-sizer"></div>
                <div class="collections-item">
                    <div class="show-slider__item">
                        <div class="show-main-item">
                            <a class="show-img-link" href="#">
                                <span class="show-img-wrap">
                                    <img class="show-img" src="images/show1.jpg" alt="" />
                                </span>
                            </a>
                            <div class="container-events-slider">
                                <span class="show-main-item__date">11 июля — 14 октября</span>
                                <h5 class="show-main-item__title">
                                    <a href="#">Лето – это маленькая жизнь!</a>
                                </h5>
                                <div class="show-main-item__text">Художественный фаянс 2-й половины ХХ века из cобрания Тверской областной картинной галереи.</div>
                                <div class="location-item show-main-item__location">
                                    <span class="location-item__ic"></span>
                                    <a class="location-item__text" href="#">Тверская областная картинная галерея</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collections-item">
                    <div class="show-slider__item">
                        <div class="show-main-item">
                            <a class="show-img-link" href="#">
                                <span class="show-img-wrap">
                                    <img class="show-img" src="images/show2.jpg" alt="" />
                                </span>
                            </a>
                            <div class="container-events-slider">
                                <span class="show-main-item__date">11 июля — 14 октября</span>
                                <h5 class="show-main-item__title">
                                    <a href="#">Графика московских художников 1920-х — 1930-х годов из собрания Тверской областной картинной галереи»</a>
                                </h5>
                                <div class="location-item show-main-item__location">
                                    <span class="location-item__ic"></span>
                                    <a class="location-item__text" href="#">Тверская областная картинная галерея</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collections-item">
                    <div class="show-slider__item">
                        <div class="show-main-item">
                            <a class="show-img-link" href="#">
                                <span class="show-img-wrap">
                                    <img class="show-img" src="images/show3.jpg" alt="" />
                                </span>
                            </a>
                            <div class="container-events-slider">
                                <span class="show-main-item__date">11 июля — 14 октября</span>
                                <h5 class="show-main-item__title">
                                    <a href="#">Герои романа «Война и мир» в иллюстрациях Владимира Александровича Серова»</a>
                                </h5>
                                <div class="show-main-item__text">Графика и декоративно-прикладное искусство из фондов ТОКГ (К 190-летию Льва Николаевича Толстого)</div>
                                <div class="location-item show-main-item__location">
                                    <span class="location-item__ic"></span>
                                    <a class="location-item__text" href="#">Тверская областная картинная галерея</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collections-item">
                    <div class="show-slider__item">
                        <div class="show-main-item">
                            <a class="show-img-link" href="#">
                                <span class="show-img-wrap">
                                    <img class="show-img" src="images/show1.jpg" alt="" />
                                </span>
                            </a>
                            <div class="container-events-slider">
                                <span class="show-main-item__date">11 июля — 14 октября</span>
                                <h5 class="show-main-item__title">
                                    <a href="#">Лето – это маленькая жизнь!</a>
                                </h5>
                                <div class="show-main-item__text">Художественный фаянс 2-й половины ХХ века из cобрания Тверской областной картинной галереи.</div>
                                <div class="location-item show-main-item__location">
                                    <span class="location-item__ic"></span>
                                    <a class="location-item__text" href="#">Тверская областная картинная галерея</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collections-item">
                    <div class="show-slider__item">
                        <div class="show-main-item">
                            <a class="show-img-link" href="#">
                                <span class="show-img-wrap">
                                    <img class="show-img" src="images/show3.jpg" alt="" />
                                </span>
                            </a>
                            <div class="container-events-slider">
                                <span class="show-main-item__date">11 июля — 14 октября</span>
                                <h5 class="show-main-item__title">
                                    <a href="#">Герои романа «Война и мир» в иллюстрациях Владимира Александровича Серова»</a>
                                </h5>
                                <div class="show-main-item__text">Графика и декоративно-прикладное искусство из фондов ТОКГ (К 190-летию Льва Николаевича Толстого)</div>
                                <div class="location-item show-main-item__location">
                                    <span class="location-item__ic"></span>
                                    <a class="location-item__text" href="#">Тверская областная картинная галерея</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collections-item">
                    <div class="show-slider__item">
                        <div class="show-main-item">
                            <a class="show-img-link" href="#">
                                <span class="show-img-wrap">
                                    <img class="show-img" src="images/show2.jpg" alt="" />
                                </span>
                            </a>
                            <div class="container-events-slider">
                                <span class="show-main-item__date">11 июля — 14 октября</span>
                                <h5 class="show-main-item__title">
                                    <a href="#">Графика московских художников 1920-х — 1930-х годов из собрания Тверской областной картинной галереи»</a>
                                </h5>
                                <div class="location-item show-main-item__location">
                                    <span class="location-item__ic"></span>
                                    <a class="location-item__text" href="#">Тверская областная картинная галерея</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collections-main__btn-wrap text-center">
                <a class="btn" href="#">Показать еще</a>
            </div>
        </div>
    </div>
</main>

//= ./partials/footer.html
