//= ./partials/header.html

<main>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-lg-12">
                    <div class="filials-caption">
                        <p>Филиалы галереи</p>
                        <h1>Мемориально-художественный музей Валентина Серова в Домотканово</h1>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="filials-image">
                        <img src="images/filials.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="filials-content">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="filials-content__caption">
                            <p>Мемориальная экспозиция, выставки, усадебные интерьеры, парк, пруды, экскурсионное и лекционное обслуживание, весенние пленэры, «Серовские чтения», организация музейных уроков, праздников, концертов, массовых и специальных мероприятий, работа кукольного театра- студии «Домовенок».</p>
                        </div>
                        <div class="one-news__text">
                            <div class="text">
                                <p>Основан в 1965 г. как народный музей; с 1976 г. — филиал. Находится в бывшей усадьбе В.Д. фон Дервиза «Домотканово». Экспозиция, расположенная в деревянном здании конца XIX века, посвящена истории усадьбы, «домоткановскому» периоду жизни и творчества В. А. Серова (1865 -1911) и других деятелей русской культуры конца XIX — начала XX вв., бывавших здесь. На территории сохранились остатки старинного парка с прудами, а так же часть главного усадебного дома (1-я пол. XIX в.).</p>
                                <div class="slider-filials__content">
                                    <div class="slider-filials owl-carousel">
                                        <div class="slider-action__item">
                                            <a href="images/slide3.jpg" data-fancybox="">
                                                <span class="to-increase">
                                                    <img src="images/slide3.jpg" alt="">
                                                </span>
                                            </a>
                                            <p>Подпись к фотографии</p>
                                        </div>
                                        <div class="slider-action__item">
                                            <a href="images/slide3.jpg" data-fancybox="">
                                                <span class="to-increase">
                                                    <img src="images/slide3.jpg" alt="">
                                                </span>
                                            </a>
                                            <p>Подпись к фотографии</p>
                                        </div>
                                        <div class="slider-action__item">
                                            <a href="images/slide3.jpg" data-fancybox="">
                                                <span class="to-increase">
                                                    <img src="images/slide3.jpg" alt="">
                                                </span>
                                            </a>
                                            <p>Подпись к фотографии</p>
                                        </div>
                                    </div>
                                </div>
                                <p>В конце XIX - начале XX столетия в усадьбе, принадлежавшей В.Д.Дервизу, творили выдающие русские художники В.А.Серов, И.И.Левитан, </p>
                                <p>В.А.Фаворский, И.Я.Билибин, И.С.Ефимов, Н.Я. Симонович-Ефимова. Музей организует экскурсии по экспозиции и парку, проводит традиционные музейные праздники "Масленица в Домотканове" и "Сиреневое Домотканово", театрализованные представления музейного кукольного театра-студии «Домовенок», весенние пленэры и выставки. </p>
                                <p>В летнее время музей привлекателен для загородного отдыха, разработан маршрут экологической тропы от Чуприяновки до Домотканова.</p>
                                <a href="#" class="share">Поделиться <img src="images/share.png" alt="" /></a>
                                <div class="gallery-social">
                                    <a href="#"><img src="images/facebook.svg" alt=""></a>
                                    <a href="#"><img src="images/vk.svg" alt=""></a>
                                    <a href="#"><img src="images/twit.svg" alt=""></a>
                                    <a href="#"><img src="images/pinterest.svg" alt=""></a>
                                    <a href="#"><img src="images/livejournal.svg" alt=""></a>
                                    <a href="#"><img src="images/telegram.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="opening-hours__collection">
                            <div class="opening-hours">
                                <div class="opening-hours__item">
                                    <p><strong>Дата и время:</strong></p>
                                    <div class="opening-hours__block">
                                        <div class="day">
                                            <p>Пн-Вскр:</p>
                                        </div>
                                        <div class="time">
                                            <p>10:00 — 18:00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="opening-hours__item">
                                    <p><strong>С 01.05 по 30.09</strong></p>
                                    <div class="opening-hours__block">
                                        <div class="day">
                                            <p>Пт-Ср:</p>
                                        </div>
                                        <div class="time">
                                            <p>10:00 — 18:00</p>
                                        </div>
                                    </div>
                                    <div class="opening-hours__block">
                                        <div class="day">
                                            <p>Чт:</p>
                                        </div>
                                        <div class="time">
                                            <p>11:00 — 20:00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="opening-hours__item">
                                    <p><span>Касса закрывается за час до окончания работы галереи</span></p>
                                </div>
                                <div class="opening-hours__item">
                                    <p><strong>Адрес:</strong></p>
                                    <p>Калининский район, Бурашевское сельское поселение, д. Красная Новь</p>
                                    <p><a href="#" class="link-to-map">Показать на карте</a></p>
                                </div>
                                <div class="opening-hours__item">
                                    <p><strong>Телефон для справок:</strong></p>
                                    <p><a href="tel:89030343311" class="link">+7 (903) 034-33-11</a></p>
                                </div>
                                <div class="opening-hours__item">
                                    <a class="link-url" href="#">www.domotkanovo.gallery.tver.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="other-news__block news-main events-slider-container">
        <div class="container">
            <div class="other-news">
                <div class="events-slider-header">
                    <h2>Выставки</h2>
                    <div class="slider-arrows-wrap"></div>
                </div>
                <div class="events-slider-wrap">
                    <div class="slider-exibitions">
                        <div class="show-slider__item">
                            <div class="show-main-item">
                                <a class="show-img-link" href="#">
                                    <span class="show-img-wrap">
                                        <img class="show-img" src="images/show1.jpg" alt="" />
                                    </span>
                                </a>
                                <span class="show-main-item__date">11 июля — 14 октября</span>
                                <h5 class="show-main-item__title">
                                    <a href="#">Лето – это маленькая жизнь!</a>
                                </h5>
                                <div class="show-main-item__text">Художественный фаянс 2-й половины ХХ века из cобрания Тверской областной картинной галереи.</div>
                                <div class="location-item show-main-item__location">
                                    <span class="location-item__ic"></span>
                                    <a class="location-item__text" href="#">Тверская областная картинная галерея</a>
                                </div>
                            </div>
                        </div>
                        <div class="show-slider__item">
                            <div class="show-main-item">
                                <a class="show-img-link" href="#">
                                    <span class="show-img-wrap">
                                        <img class="show-img" src="images/show2.jpg" alt="" />
                                    </span>
                                </a>
                                <span class="show-main-item__date">11 июля — 14 октября</span>
                                <h5 class="show-main-item__title">
                                    <a href="#">Графика московских художников 1920-х — 1930-х годов из собрания Тверской областной картинной галереи»</a>
                                </h5>
                                <div class="location-item show-main-item__location">
                                    <span class="location-item__ic"></span>
                                    <a class="location-item__text" href="#">Тверская областная картинная галерея</a>
                                </div>
                            </div>
                        </div>
                        <div class="show-slider__item">
                            <div class="show-main-item">
                                <a class="show-img-link" href="#">
                                    <span class="show-img-wrap">
                                        <img class="show-img" src="images/show3.jpg" alt="" />
                                    </span>
                                </a>
                                <span class="show-main-item__date">11 июля — 14 октября</span>
                                <h5 class="show-main-item__title">
                                    <a href="#">Герои романа «Война и мир» в иллюстрациях Владимира Александровича Серова»</a>
                                </h5>
                                <div class="show-main-item__text">Графика и декоративно-прикладное искусство из фондов ТОКГ (К 190-летию Льва Николаевича Толстого)</div>
                                <div class="location-item show-main-item__location">
                                    <span class="location-item__ic"></span>
                                    <a class="location-item__text" href="#">Тверская областная картинная галерея</a>
                                </div>
                            </div>
                        </div>
                        <div class="show-slider__item">
                            <div class="show-main-item">
                                <a class="show-img-link" href="#">
                                    <span class="show-img-wrap">
                                        <img class="show-img" src="images/show2.jpg" alt="" />
                                    </span>
                                </a>
                                <span class="show-main-item__date">11 июля — 14 октября</span>
                                <h5 class="show-main-item__title">
                                    <a href="#">Графика московских художников 1920-х — 1930-х годов из собрания Тверской областной картинной галереи»</a>
                                </h5>
                                <div class="location-item show-main-item__location">
                                    <span class="location-item__ic"></span>
                                    <a class="location-item__text" href="#">Тверская областная картинная галерея</a>
                                </div>
                            </div>
                        </div>
                        <div class="show-slider__item">
                            <div class="show-main-item">
                                <a class="show-img-link" href="#">
                                    <span class="show-img-wrap">
                                        <img class="show-img" src="images/show3.jpg" alt="" />
                                    </span>
                                </a>
                                <span class="show-main-item__date">11 июля — 14 октября</span>
                                <h5 class="show-main-item__title">
                                    <a href="#">Герои романа «Война и мир» в иллюстрациях Владимира Александровича Серова»</a>
                                </h5>
                                <div class="show-main-item__text">Графика и декоративно-прикладное искусство из фондов ТОКГ (К 190-летию Льва Николаевича Толстого)</div>
                                <div class="location-item show-main-item__location">
                                    <span class="location-item__ic"></span>
                                    <a class="location-item__text" href="#">Тверская областная картинная галерея</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-main__btn-wrap"><a class="btn" href="#">Все выставки</a></div>
            </div>
        </div>
    </section>
    <section class="other-news__block news-main events-slider-container">
        <div class="container">
            <div class="other-news">
                <div class="events-slider-header">
                    <h2>Другие филиалы</h2>
                    <div class="slider-arrows-wrap"></div>
                </div>
                <div class="events-slider-wrap">
                    <div class="sliderfilial">
                        <div class="events-slider__item">
                            <div class="news-main-item">
                                <a class="news-main-item__img-wrap" href="#">
                                    <img class="news-main-item__img events-slider__item-img" src="images/filial1.jpg" alt="">
                                </a>
                            </div>
                            <div class="news-main-item__title caption">
                                <a href="#">Мемориально-художественный музей Владимира Серова</a>
                            </div>
                        </div>
                        <div class="events-slider__item">
                            <div class="news-main-item">
                                <a class="news-main-item__img-wrap" href="#">
                                    <img class="news-main-item__img events-slider__item-img" src="images/filial2.jpg" alt="">
                                </a>
                            </div>
                            <div class="news-main-item__title caption">
                                <a href="#">Центр культуры и искусства — дача «Чайка» художника В.К.Белыницкого-Бируля</a>
                            </div>
                        </div>
                        <div class="events-slider__item">
                            <div class="news-main-item">
                                <a class="news-main-item__img-wrap" href="#">
                                    <img class="news-main-item__img events-slider__item-img" src="images/filial1.jpg" alt="">
                                </a>
                            </div>
                            <div class="news-main-item__title caption">
                                <a href="#">Мемориально-художественный музей Владимира Серова</a>
                            </div>
                        </div>
                        <div class="events-slider__item">
                            <div class="news-main-item">
                                <a class="news-main-item__img-wrap" href="#">
                                    <img class="news-main-item__img events-slider__item-img" src="images/filial2.jpg" alt="">
                                </a>
                            </div>
                            <div class="news-main-item__title caption">
                                <a href="#">Центр культуры и искусства — дача «Чайка» художника В.К.Белыницкого-Бируля</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

//= ./partials/footer.html
