//= ./partials/header.html

<main>
    <div class="history-background">

    </div>
    <div class="history-page">
        <div class="history-page_filter" id="aside">
            <div class="sticky__inner">
                <select name="">
                    <option>Все события</option>
                    <option>История дворца</option>
                    <option>История Галереи</option>
                    <option>История коллекции</option>
                </select>

                <div class="history-page__periods">
                    <ul id="menu">
                        <li>
                            <span>XVIII</span>
                            <a href="#ex1">1763–1773</a>
                            <a href="#ex2">1774–1789</a>
                        </li>
                        <li>
                            <span>XIX</span>
                            <a href="#ex3">1663–1673</a>
                        </li>
                        <li>
                            <span>XX</span>
                        </li>
                        <li>
                            <span>XIX</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="history-page__text">
                        <h1>История галереи</h1>
                        <p>На протяжении всей биографии Дворца его жизнь так или иначе была связана с искусством, что не одно столетие делало это место особенно привлекательным для всех и каждого. Тверская областная картинная галерея (ТОКГ) основана в 1866 году (в составе «Тверского музеума»). Открыта как самостоятельный музей в 1937 году.</p>
                    </div>
                    <div class="history-page__block">
                        <p class="period-title">Начиная с XVIII века, Тверскую губернию обстраивали зодчие первого российского архитектурного ряда. По государственным и частным заказам возводили различные ансамбли, котексы или отдельные здания, а иногда облагораживал и целые территории. Тверской Императорский Дворец — выдающийся памятник русского зодчества. Построенный для императрицы Екатерины II в 1763-1778 годах по проекту великого русского градостроителя П.Р.Никитина, за более чем двухвековую историю он неоднократно менял свой облик, отражая стили и вкусы эпох.</p>
                        <div class="history-block__content" id="ex1">
                            <p class="period-date">1763</p>
                            <div class="history-period">
                                <p class="title">Пожар в Твери</p>
                                <p class="date">12 мая 1763</p>
                                <p>Сгорел деревянный Тверской кремль со всеми постройками.</p>
                            </div>
                            <div class="history-period">
                                <p class="title">В Тверь приезжает архитектор из Москвы</p>
                                <p class="date">15 мая 1763 г.</p>
                                <p>П.Р.Никитин приезжает с учениками И.Т.Обуховым и А. Квасовым для осмотра сгоревшего города - по распоряжению главного директора Канцелярии Строений и домов ее Величества Императрицы Екатерины II И.И.Бецкого.</p>
                                <a href="#" class="link-more">Подробнее</a>
                            </div>
                            <div class="history-period">
                                <a href="#" class="link-show" data-toggle="modal" data-target="#imageModal">
                                    <img src="images/hist1.jpg" alt="">
                                </a>
                                <p class="title">Пожар в Твери</p>
                                <p class="date">19 мая 1763 г.</p>
                                <p>Екатерина II подписывает Указ Сенату о принятии мер по восстановлению Твери.</p>
                            </div>
                            <div class="history-period">
                                <a href="#" class="link-show" data-toggle="modal" data-target="#imageModal">
                                    <img src="images/hist2.jpg" alt="">
                                </a>
                                <p class="title">В Тверь приезжает архитектор из Москвы</p>
                                <p class="date">15 мая 1763 г.</p>
                                <p>П.Р.Никитин приезжает с учениками И.Т.Обуховым и А. Квасовым для осмотра сгоревшего города - по распоряжению главного директора Канцелярии Строений и домов ее Величества Императрицы Екатерины II И.И.Бецкого.</p>
                            </div>
                            <div class="history-period">
                                <p class="title">Принятие решения о начале строительных работ</p>
                                <p class="date">Август–сентябрь 1763 г.</p>
                                <p>П.Р.Никитин с семьей поселяется в Твери: в рабочую команду включают прапорщика И.Т.Обухова, капралов П.Бертенева, В.Поливанова и князя сержанта Н.Мещерского. В.В.Фермор с командой Никитина осмотрели сгоревший архиерейский дворец, соборную колокольню. Принимается решение начать новое строительство в городе с восстановления архиерейского дворца, на что Сенат отпускает деньги в первую очередь.</p>
                            </div>
                        </div>

                        <div class="history-block__content" id="ex2">
                            <p class="period-date">1774</p>
                            <div class="history-period">
                                <p class="title">Пожар в Твери</p>
                                <p class="date">19 мая 1763 г.</p>
                                <p>Екатерина II подписывает Указ Сенату о принятии мер по восстановлению Твери.</p>
                            </div>
                            <div class="history-period">
                                <p class="title">Екатерина II утверждает Вариант проекта по архиерейскому дворцу.</p>
                                <p class="date">2 февраля 1764 г.</p>
                                <p>Общее наблюдение за строительством архиерейского дворца стал осуществлять Ф.Борисов, регулярно доносивший В.В.Фермору о ходе работ, о привлечении рабочей силы, о строительных материалах и т.д. Осуществление проекта архиерейского дворца П.Р.Никитин поручил М.Ф.Казакову.</p>
                            </div>
                            <div class="history-period">
                                <a href="#" class="link-show" data-toggle="modal" data-target="#imageModal">
                                    <img src="images/hist1.jpg" alt="">
                                </a>
                                <p class="title">Ремонт основного корпуса</p>
                                <p class="date">С июля 1764 г.</p>
                                <p>Надстраивают мезонин и западное крыло; в центре дворца возводят парадный 2-х цветный зал, куда вела широкая парадная лестница; по обеим сторонам от парадного зала - прямоугольные комнаты (соединяющиеся по проекту с павильонами).</p>
                            </div>

                            <div class="history-period">
                                <p class="title">Екатерина II утверждает Вариант проекта по архиерейскому дворцу.</p>
                                <p class="date">2 февраля 1764 г.</p>
                                <p>Общее наблюдение за строительством архиерейского дворца стал осуществлять Ф.Борисов, регулярно доносивший В.В.Фермору о ходе работ, о привлечении рабочей силы, о строительных материалах и т.д. Осуществление проекта архиерейского дворца П.Р.Никитин поручил М.Ф.Казакову.</p>
                            </div>
                        </div>

                        <div class="history-block__content" id="ex3">
                            <p class="period-date">1663</p>
                            <div class="history-period">
                                <p class="title">Название</p>
                                <p class="date">дата</p>
                                <p>П.Р.Никитин с семьей поселяется в Твери: в рабочую команду включают прапорщика И.Т.Обухова, капралов П.Бертенева, В.Поливанова и князя сержанта Н.Мещерского. В.В.Фермор с командой Никитина осмотрели сгоревший архиерейский дворец, соборную колокольню. Принимается решение начать новое строительство в городе с восстановления архиерейского дворца, на что Сенат отпускает деньги в первую очередь.</p>
                            </div>
                            <div class="history-period">
                                <p class="title">Название</p>
                                <p class="date">дата</p>
                                <p>П.Р.Никитин с семьей поселяется в Твери: в рабочую команду включают прапорщика И.Т.Обухова, капралов П.Бертенева, В.Поливанова и князя сержанта Н.Мещерского. В.В.Фермор с командой Никитина осмотрели сгоревший архиерейский дворец, соборную колокольню. Принимается решение начать новое строительство в городе с восстановления архиерейского дворца, на что Сенат отпускает деньги в первую очередь.</p>
                            </div>
                            <div class="history-period">
                                <a href="#" class="link-show" data-toggle="modal" data-target="#imageModal">
                                    <img src="images/hist2.jpg" alt="">
                                </a>
                                <p class="title">Пожар в Твери</p>
                                <p class="date">19 мая 1763 г.</p>
                                <p>Екатерина II подписывает Указ Сенату о принятии мер по восстановлению Твери.</p>
                            </div>
                            <div class="history-period">
                                <p class="title">Название</p>
                                <p class="date">дата</p>
                                <p>П.Р.Никитин с семьей поселяется в Твери: в рабочую команду включают прапорщика И.Т.Обухова, капралов П.Бертенева, В.Поливанова и князя сержанта Н.Мещерского. В.В.Фермор с командой Никитина осмотрели сгоревший архиерейский дворец, соборную колокольню. Принимается решение начать новое строительство в городе с восстановления архиерейского дворца, на что Сенат отпускает деньги в первую очередь.</p>
                            </div>
                            <div class="history-period">
                                <p class="title">Название</p>
                                <p class="date">дата</p>
                                <p>П.Р.Никитин с семьей поселяется в Твери: в рабочую команду включают прапорщика И.Т.Обухова, капралов П.Бертенева, В.Поливанова и князя сержанта Н.Мещерского. В.В.Фермор с командой Никитина осмотрели сгоревший архиерейский дворец, соборную колокольню. Принимается решение начать новое строительство в городе с восстановления архиерейского дворца, на что Сенат отпускает деньги в первую очередь.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

//= ./partials/footer-history.html
