//= ./partials/header.html

<section class="main-slider-wrap">
    <div class="container slider-arrows-wrap main-slider-arrows-wrap"></div>
    <div class="main-slider owl-carousel">
        <div class="main-slider__item" style="background-image: url(images/slide.jpg)">
            <div class="main-slider__container container">
                <div class="main-slider__content">
                    <div class="main-slider__content-top"><span class="main-slider__label">Выставка</span></div>
                    <div class="main-slider__content-middle"><span class="main-slider__date">7 июня — 24 сентября</span>
                        <h2 class="main-slider__title">Мысли свободный полет свободный полет…</h2>
                        <p class="main-slider__text">Живопись, графика и декоративно-прикладное искусство середины — второй половины ХХ века из собрания ТОКГ.</p>
                    </div>
                    <div class="main-slider__content-bottom">
                        <div class="location-item"><span class="location-item__ic"></span><a class="location-item__text" href="#">Тверская областная картинная галерея</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-slider__item" style="background-image: url(images/slide2.jpg)">
            <div class="main-slider__container container">
                <div class="main-slider__content">
                    <div class="main-slider__content-top"><span class="main-slider__label">Выставка</span></div>
                    <div class="main-slider__content-middle"><span class="main-slider__date">7 июня — 24 сентября</span>
                        <h2 class="main-slider__title">Тверская областная картинная галерея…</h2>
                        <p class="main-slider__text">Живопись, графика и декоративно-прикладное искусство середины — второй половины ХХ века из собрания ТОКГ.</p>
                    </div>
                    <div class="main-slider__content-bottom">
                        <div class="location-item"><span class="location-item__ic"></span><a class="location-item__text" href="#">Тверская областная картинная галерея</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-slider__item" style="background-image: url(images/slide.jpg)">
            <div class="main-slider__container container">
                <div class="main-slider__content">
                    <div class="main-slider__content-top"><span class="main-slider__label">Выставка</span></div>
                    <div class="main-slider__content-middle"><span class="main-slider__date">7 июня — 24 сентября</span>
                        <h2 class="main-slider__title">Мысли свободный полет свободный полет…</h2>
                        <p class="main-slider__text">Живопись, графика и декоративно-прикладное искусство середины — второй половины ХХ века из собрания ТОКГ.</p>
                    </div>
                    <div class="main-slider__content-bottom">
                        <div class="location-item"><span class="location-item__ic"></span><a class="location-item__text" href="#">Тверская областная картинная галерея</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-slider__item" style="background-image: url(images/slide2.jpg)">
            <div class="main-slider__container container">
                <div class="main-slider__content">
                    <div class="main-slider__content-top"><span class="main-slider__label">Выставка</span></div>
                    <div class="main-slider__content-middle"><span class="main-slider__date">7 июня — 24 сентября</span>
                        <h2 class="main-slider__title">Тверская областная картинная галерея…</h2>
                        <p class="main-slider__text">Живопись, графика и декоративно-прикладное искусство середины — второй половины ХХ века из собрания ТОКГ.</p>
                    </div>
                    <div class="main-slider__content-bottom">
                        <div class="location-item"><span class="location-item__ic"></span><a class="location-item__text" href="#">Тверская областная картинная галерея</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-main">
    <div class="container">
        <div class="text-block-main">
            <div class="about-main__title text-block-main__title">О галерее</div>
            <div class="about-main__text text-block-main__text">Тверская областная картинная галерея располагается в Тверском императорском дворце и является одним из старейших музеев России. Начало коллекциям галереи было положено в 1866 году. В настоящее время это художественный музей широкого профиля.</div>
            <div class="about-main__btn-wrap text-block-main__btn-wrap"><a class="btn" href="#">Подробнее</a></div>
        </div>
    </div>
</section>
<section class="show-main events-slider-container">
    <div class="container show-main-container">
        <div class="events-slider-header">
            <h2 class="h1 show-main__title events-slider-title">Выставки</h2>
            <div class="slider-arrows-wrap">
                
            </div>
        </div>
        <div class="events-slider-wrap">
            <div class="events-slider owl-carousel">
                <div class="show-slider__item">
                    <div class="show-main-item"><a class="show-img-link" href="#"><span class="show-img-wrap"><img class="show-img" src="images/show1.jpg" alt=""></span></a>
                        <div class="container-events-slider">
                            <span class="show-main-item__date">11 июля — 14 октября</span>
                            <h5 class="show-main-item__title"><a href="#">Лето – это маленькая жизнь!</a></h5>
                            <div class="show-main-item__text">Художественный фаянс 2-й половины ХХ века из cобрания Тверской областной картинной галереи.</div>
                            <div class="location-item show-main-item__location"><span class="location-item__ic"></span><a class="location-item__text" href="#">Тверская областная картинная галерея</a></div>
                        </div>
                    </div>
                </div>
                <div class="show-slider__item">
                    <div class="show-main-item"><a class="show-img-link" href="#"><span class="show-img-wrap"><img class="show-img" src="images/show2.jpg" alt=""></span></a>
                        <div class="container-events-slider">
                            <span class="show-main-item__date">11 июля — 14 октября</span>
                            <h5 class="show-main-item__title"><a href="#">Графика московских художников 1920-х — 1930-х годов из собрания Тверской областной картинной галереи»</a></h5>
                            <div class="location-item show-main-item__location"><span class="location-item__ic"></span><a class="location-item__text" href="#">Тверская областная картинная галерея</a></div>
                        </div>
                    </div>
                </div>
                <div class="show-slider__item">
                    <div class="show-main-item"><a class="show-img-link" href="#"><span class="show-img-wrap"><img class="show-img" src="images/show3.jpg" alt=""></span></a>
                        <div class="container-events-slider">
                            <span class="show-main-item__date">11 июля — 14 октября</span>
                            <h5 class="show-main-item__title"><a href="#">Герои романа «Война и мир» в иллюстрациях Владимира Александровича Серова»</a></h5>
                            <div class="show-main-item__text">Графика и декоративно-прикладное искусство из фондов ТОКГ (К 190-летию Льва Николаевича Толстого)</div>
                            <div class="location-item show-main-item__location"><span class="location-item__ic"></span><a class="location-item__text" href="#">Тверская областная картинная галерея</a></div>
                        </div>
                    </div>
                </div>
                <div class="show-slider__item">
                    <div class="show-main-item"><a class="show-img-link" href="#"><span class="show-img-wrap"><img class="show-img" src="images/show1.jpg" alt=""></span></a>
                        <div class="container-events-slider">
                            <span class="show-main-item__date">11 июля — 14 октября</span>
                            <h5 class="show-main-item__title"><a href="#">Лето – это маленькая жизнь!</a></h5>
                            <div class="show-main-item__text">Художественный фаянс 2-й половины ХХ века из cобрания Тверской областной картинной галереи.</div>
                            <div class="location-item show-main-item__location"><span class="location-item__ic"></span><a class="location-item__text" href="#">Тверская областная картинная галерея</a></div>
                        </div>
                    </div>
                </div>
                <div class="show-slider__item">
                    <div class="show-main-item"><a class="show-img-link" href="#"><span class="show-img-wrap"><img class="show-img" src="images/show2.jpg" alt=""></span></a>
                        <div class="container-events-slider">
                            <span class="show-main-item__date">11 июля — 14 октября</span>
                            <h5 class="show-main-item__title"><a href="#">Графика московских художников 1920-х — 1930-х годов из собрания Тверской областной картинной галереи»</a></h5>
                            <div class="location-item show-main-item__location"><span class="location-item__ic"></span><a class="location-item__text" href="#">Тверская областная картинная галерея</a></div>
                        </div>
                    </div>
                </div>
                <div class="show-slider__item">
                    <div class="show-main-item"><a class="show-img-link" href="#"><span class="show-img-wrap"><img class="show-img" src="images/show3.jpg" alt=""></span></a>
                        <div class="container-events-slider">
                            <span class="show-main-item__date">11 июля — 14 октября</span>
                            <h5 class="show-main-item__title"><a href="#">Герои романа «Война и мир» в иллюстрациях Владимира Александровича Серова»</a></h5>
                            <div class="show-main-item__text">Графика и декоративно-прикладное искусство из фондов ТОКГ (К 190-летию Льва Николаевича Толстого)</div>
                            <div class="location-item show-main-item__location"><span class="location-item__ic"></span><a class="location-item__text" href="#">Тверская областная картинная галерея</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="show-main__btn-wrap text-center"><a class="btn" href="#">Все выставки</a></div>
    </div>
</section>
<section class="collections-main">
    <div class="container">
        <div class="text-block-main">
            <div class="collections-main__title text-block-main__title">Коллекция музея</div>
            <div class="collections-main__text text-block-main__text">Художественное собрание галереи насчитывает около 32 тысяч экспонатов. Оно включает в себя коллекции <a class="link-styled" href="#">древнерусского</a> искусства XIV — XX вв., <a class="link-styled" href="#">русской живописи</a>, <a class="link-styled" href="#">графики</a> и <a class="link-styled" href="#">скульптуры</a> XVIII — XX вв., <a class="link-styled" href="#">западноевропейского искусства</a> XV — XX вв., <a class="link-styled" href="#">декоративно-прикладного</a> искусства&nbsp;России, Европы, Востока.</div>
            <div class="collections-items-wrap" id="collections-items-wrap">
                <div class="collections-item-gutter-sizer"></div><a class="collections-item show-img-link" href="#"><span class="show-img-wrap"><img class="show-img" src="images/collection1.jpg" alt=""><span class="show-img-title"><span class="show-img-title-inner">Графика</span></span></span></a><a class="collections-item show-img-link" href="#"><span class="show-img-wrap"><img class="show-img" src="images/collection2.jpg" alt=""><span class="show-img-title"><span class="show-img-title-inner">Графика</span></span></span></a><a class="collections-item show-img-link" href="#"><span class="show-img-wrap"><img class="show-img" src="images/collection3.jpg" alt=""><span class="show-img-title"><span class="show-img-title-inner">Графика</span></span></span></a><a class="collections-item show-img-link" href="#"><span class="show-img-wrap"><img class="show-img" src="images/collection4.jpg" alt=""><span class="show-img-title"><span class="show-img-title-inner">Графика</span></span></span></a><a class="collections-item show-img-link" href="#"><span class="show-img-wrap"><img class="show-img" src="images/collection5.jpg" alt=""><span class="show-img-title"><span class="show-img-title-inner">Графика</span></span></span></a><a class="collections-item show-img-link" href="#"><span class="show-img-wrap"><img class="show-img" src="images/collection6.jpg" alt=""><span class="show-img-title"><span class="show-img-title-inner">Графика</span></span></span></a>
            </div>
            <div class="collections-main__btn-wrap text-center"><a class="btn" href="#">О коллекции</a></div>
        </div>
    </div>
</section>
<section class="news-main events-slider-container">
    <div class="container news-main-container">
        <div class="events-slider-header">
            <h2 class="h1 news-main__title events-slider-title">Новости и события</h2>
            <div class="slider-arrows-wrap">
            </div>
        </div>
        <div class="events-slider-wrap">
            <div class="events-slider owl-carousel">
                <div class="events-slider__item">
                    <div class="news-main-item"><a class="news-main-item__img-wrap" href="#"><img class="news-main-item__img events-slider__item-img" src="images/news2.jpg" alt=""></a></div>
                    <div class="news-main-item__date">14.10.2018</div>
                    <div class="news-main-item__title"><a href="#">Мероприятия антинаркотической и антитеррористической тематики</a></div><a class="news-main-item__more link-more" href="#">Подробнее</a>
                </div>
                <div class="events-slider__item">
                    <div class="news-main-item"><a class="news-main-item__img-wrap" href="#"><img class="news-main-item__img events-slider__item-img" src="images/news.jpg" alt=""></a></div>
                    <div class="news-main-item__date">14.10.2018</div>
                    <div class="news-main-item__title"><a href="#">Совместное мероприятие Союза музеев России и Русского музея в Тверской областной картинной галерее</a></div><a class="news-main-item__more link-more" href="#">Подробнее</a>
                </div>
                <div class="events-slider__item">
                    <div class="news-main-item"><a class="news-main-item__img-wrap" href="#"><img class="news-main-item__img events-slider__item-img" src="images/news3.jpg" alt=""></a></div>
                    <div class="news-main-item__date">14.10.2018</div>
                    <div class="news-main-item__title"><a href="#">Афиша Тверской областной картинной галереи на октябрь 2018 года</a></div><a class="news-main-item__more link-more" href="#">Подробнее</a>
                </div>
                <div class="events-slider__item">
                    <div class="news-main-item"><a class="news-main-item__img-wrap" href="#"><img class="news-main-item__img events-slider__item-img" src="images/news4.jpg" alt=""></a></div>
                    <div class="news-main-item__date">14.10.2018</div>
                    <div class="news-main-item__title"><a href="#">Совместное мероприятие Союза музеев России и Русского музея в Тверской областной картинной галерее</a></div><a class="news-main-item__more link-more" href="#">Подробнее</a>
                </div>
                <div class="events-slider__item">
                    <div class="news-main-item"><a class="news-main-item__img-wrap" href="#"><img class="news-main-item__img events-slider__item-img" src="images/news2.jpg" alt=""></a></div>
                    <div class="news-main-item__date">14.10.2018</div>
                    <div class="news-main-item__title"><a href="#">Мероприятия антинаркотической и антитеррористической тематики</a></div><a class="news-main-item__more link-more" href="#">Подробнее</a>
                </div>
                <div class="events-slider__item">
                    <div class="news-main-item"><a class="news-main-item__img-wrap" href="#"><img class="news-main-item__img events-slider__item-img" src="images/news.jpg" alt=""></a></div>
                    <div class="news-main-item__date">14.10.2018</div>
                    <div class="news-main-item__title"><a href="#">Совместное мероприятие Союза музеев России и Русского музея в Тверской областной картинной галерее</a></div><a class="news-main-item__more link-more" href="#">Подробнее</a>
                </div>
                <div class="events-slider__item">
                    <div class="news-main-item"><a class="news-main-item__img-wrap" href="#"><img class="news-main-item__img events-slider__item-img" src="images/news3.jpg" alt=""></a></div>
                    <div class="news-main-item__date">14.10.2018</div>
                    <div class="news-main-item__title"><a href="#">Афиша Тверской областной картинной галереи на октябрь 2018 года</a></div><a class="news-main-item__more link-more" href="#">Подробнее</a>
                </div>
                <div class="events-slider__item">
                    <div class="news-main-item"><a class="news-main-item__img-wrap" href="#"><img class="news-main-item__img events-slider__item-img" src="images/news4.jpg" alt=""></a></div>
                    <div class="news-main-item__date">14.10.2018</div>
                    <div class="news-main-item__title"><a href="#">Совместное мероприятие Союза музеев России и Русского музея в Тверской областной картинной галерее</a></div><a class="news-main-item__more link-more" href="#">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="news-main__btn-wrap"><a class="btn" href="#">Все новости</a></div>
    </div>
</section>

//= ./partials/footer.html
