//= ./partials/header.html

<main>
   <div class="news__archive">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Новости и события</h1>
                <form class="search__form" action="">
                    <input class="search__form-input input-styled" type="text" placeholder="Поиск по ключевому слову">
                    <input class="search__form-btn btn-reset" type="submit">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-12">
                <div class="left-sidebar">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <button class="bth-accordion" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Выбрать дату
                                </button>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="select-date">
                                        <table class="table-condensed table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th colspan="7">
                                                        <span class="select-date-group">
                                                            <a class="btn left"><img src="images/left.png" alt="" /></a>
                                                            <a class="btn active"><span>Август 2018</span></a>
                                                            <a class="btn right"><img src="images/right.png" alt="" /></a>
                                                        </span>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>ПН</th>
                                                    <th>ВТ</th>
                                                    <th>СР</th>
                                                    <th>ЧТ</th>
                                                    <th>ПТ</th>
                                                    <th>СБ</th>
                                                    <th>ВС</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="muted">29</td>
                                                    <td class="muted">30</td>
                                                    <td class="muted">31</td>
                                                    <td>1</td>
                                                    <td>2</td>
                                                    <td>3</td>
                                                    <td>4</td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>6</td>
                                                    <td>7</td>
                                                    <td>8</td>
                                                    <td>9</td>
                                                    <td>10</td>
                                                    <td>11</td>
                                                </tr>
                                                <tr>
                                                    <td>12</td>
                                                    <td>13</td>
                                                    <td>14</td>
                                                    <td>15</td>
                                                    <td>16</td>
                                                    <td>17</td>
                                                    <td>18</td>
                                                </tr>
                                                <tr>
                                                    <td>19</td>
                                                    <td class="btn-primary"><strong>20</strong></td>
                                                    <td>21</td>
                                                    <td>22</td>
                                                    <td>23</td>
                                                    <td>24</td>
                                                    <td>25</td>
                                                </tr>
                                                <tr>
                                                    <td>26</td>
                                                    <td>27</td>
                                                    <td>28</td>
                                                    <td>29</td>
                                                    <td class="muted">1</td>
                                                    <td class="muted">2</td>
                                                    <td class="muted">3</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <button class="bth-accordion collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Все площадки
                                </button>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <ul class="collection-menu">
                                        <li><a href="#">Тверская обл. картинная галерея</a></li>
                                        <li><a href="#">Музей Валентина Серова</a></li>
                                        <li><a href="#">Музей Владимира Серова</a></li>
                                        <li><a href="#">Дача «Чайка» художника В.К.Белыницкого-Бируля</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-12">
                <div class="news-item">
                    <div class="search-resault__item">
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="news-main-item">
                                    <a class="news-main-item__img-wrap" href="#">
                                        <img class="news-main-item__img events-slider__item-img" src="images/news2.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8 col-12">
                                <div class="details">
                                    <p class="note">Мероприятие</p>
                                    <p class="date">14.10.2018 в 18:00</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 col-12">
                                        <a href="#" class="title">Мероприятия антинаркотической и антитеррористической тематики</a>
                                    </div>
                                </div>
                                <div class="location-item show-main-item__location">
                                    <span class="location-item__ic"></span>
                                    <a class="location-item__text" href="#" tabindex="-1">Тверская областная картинная галерея</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="search-resault__item">
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="news-main-item">
                                    <a class="news-main-item__img-wrap" href="#">
                                        <img class="news-main-item__img events-slider__item-img" src="images/news.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8 col-12">
                                <div class="details">
                                    <p class="note">Событие</p>
                                    <p class="date">14.10.2018 в 18:00</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 col-12">
                                        <a href="#" class="title">Совместное галерее</a>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <p class="ticket-closes">Касса закрывается за час до окончания работы галереи</p>
                                    </div>
                                </div>
                                <div class="location-item show-main-item__location">
                                    <span class="location-item__ic"></span>
                                    <a class="location-item__text" href="#" tabindex="-1">Тверская областная картинная галерея</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="search-resault__item">
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="news-main-item">
                                    <a class="news-main-item__img-wrap" href="#">
                                        <img class="news-main-item__img events-slider__item-img" src="images/news4.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8 col-12">
                                <div class="details">
                                    <p class="note">Афиша</p>
                                    <p class="date">14.10.2018 — 21.10.2018</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 col-12">
                                        <a href="#" class="title">Совместное мероприятие Союза музеев России и Русского музея в Тверской областной картинной галерее Афиша Тверской областной картинной галереи </a>
                                    </div>
                                </div>
                                <div class="location-item show-main-item__location">
                                    <span class="location-item__ic"></span>
                                    <a class="location-item__text" href="#" tabindex="-1">Тверская областная картинная галерея</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="search-resault__item">
                        <div class="row">
                            <div class="col-12">
                                <div class="details">
                                    <p class="note">Новости галереи</p>
                                    <p class="date">14.10.2018 в 18:00</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 col-12">
                                        <a href="#" class="title">Совместное мероприятие Союза музеев России и Русского музея в Тверской областной картинной галерее</a>
                                    </div>
                                </div>
                                <div class="location-item show-main-item__location">
                                    <span class="location-item__ic"></span>
                                    <a class="location-item__text" href="#" tabindex="-1">Тверская областная картинная галерея</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="search-resault__item">
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="news-main-item">
                                    <a class="news-main-item__img-wrap" href="#">
                                        <img class="news-main-item__img events-slider__item-img" src="images/news4.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8 col-12">
                                <div class="details">
                                    <p class="note">Афиша</p>
                                    <p class="date">14.10.2018 в 18:00</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 col-12">
                                        <a href="#" class="title">Совместное мероприятие Союза музеев России и Русского музея .</a>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <p class="ticket-closes">Касса закрывается за час до окончания работы галереи</p>
                                    </div>
                                </div>
                                <div class="location-item show-main-item__location">
                                    <span class="location-item__ic"></span>
                                    <a class="location-item__text" href="#" tabindex="-1">Тверская областная картинная галерея</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="search-resault__item">
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="news-main-item">
                                    <a class="news-main-item__img-wrap" href="#">
                                        <img class="news-main-item__img events-slider__item-img" src="images/news.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8 col-12">
                                <div class="details">
                                    <p class="note">Событие</p>
                                    <p class="date">14.10.2018 в 18:00</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 col-12">
                                        <a href="#" class="title">Совместное мероприятие Союза музеев России и Русского музея в Тверской областной картинной галерее</a>
                                    </div>
                                </div>
                                <div class="location-item show-main-item__location">
                                    <span class="location-item__ic"></span>
                                    <a class="location-item__text" href="#" tabindex="-1">Тверская областная картинная галерея</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collections-main__btn-wrap text-center">
                    <a class="btn" href="#">Показать еще</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

//= ./partials/footer.html
