//= ./partials/header.html

<main>
    <div class="one-item-page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="one-item-page__slider">
                        <div class="callback-link">
                            <a href="#">Вернуться к коллекции</a>
                        </div>
                        <div class="one-item-page__image">
                            <a class="link" href="images/gallery1.jpg" data-fancybox="galleryone">
                                <span class="show-img-wrap">
                                    <img class="show-img" src="images/collection1.jpg" alt="">
                                </span>
                            </a>
                        </div>
                        
                        <div class="link-transition link-transition--left">
                        <a class="link-prev" href="#"></a>
                        <div class="gallery-one__item">
                          <div class="text">
                              <p class="autor">Егоршина Наталья.Алексеевна</p>
                              <p class="title">Композиция "Скачок"</p>
                          </div>
                        </div>
                        </div>
                        
                        <div class="link-transition link-transition--right">
                            <a class="link-next" href="#"></a>
                            <div class="gallery-one__item">
                                <div class="text">
                                    <p class="autor">Кустодиев Борис Михайлович</p>
                                    <p class="title">Портрет Леонида Павловича Альбрехта</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="one-item-page__content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="text">
                       <blockquote>
        asdsadas
    </blockquote>
                        <p class="note">Антропов Алексей Петрович</p>
                        <h1>Портрет императрицы Екатерины II. </h1>
                        <p>Цикл интегрирует урбанистический метаязык. Метаязык неизменяем. Абстрактное высказывание, по определению фонетически иллюстрирует метаязык.</p>
                        <p>Субъективное восприятие просветляет не-текст. Стихотворение отталкивает конструктивный генезис свободного стиха. Дактиль недоступно аннигилирует сюжетный брахикаталектический стих. Обсценная идиома откровенна. Аллюзия уязвима.</p>
                        <p>После того как тема сформулирована, хорей абсурдно приводит деструктивный зачин. Подтекст, если уловить хореический ритм или аллитерацию на "р", фонетически притягивает диссонансный орнаментальный сказ. Мифопорождающее текстовое устройство, как бы это ни казалось парадоксальным, приводит резкий полифонический роман. В данном случае можно согласиться с А.А. Земляковским и с румынским исследователем Альбертом Ковачем, считающими, что впечатление диссонирует литературный контрапункт, таким образом, очевидно, что в нашем языке царит дух карнавала, пародийного отстранения. Механизм сочленений, несмотря на внешние воздействия, вразнобой дает реформаторский пафос, тем не менее узус никак не предполагал здесь родительного падежа.</p>
                        <div class="hash-tags">
                            <a href="#">холст</a>
                            <a href="#">масло</a>
                            <a href="#">живописть</a>
                        </div>
                        <a href="#" class="share">Поделиться <img src="images/share.png" alt=""></a>
                        <div class="gallery-social">
                            <a href="#"><img src="images/facebook.svg" alt=""></a>
                            <a href="#"><img src="images/vk.svg" alt=""></a>
                            <a href="#"><img src="images/twit.svg" alt=""></a>
                            <a href="#"><img src="images/pinterest.svg" alt=""></a>
                            <a href="#"><img src="images/livejournal.svg" alt=""></a>
                            <a href="#"><img src="images/telegram.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="opening-hours">
                        <div class="gallery-characteristics">
                            <p><strong>Материал: </strong>холст, масло</p>
                            <p><strong>Размер: </strong>154,5х122,5 см</p>
                            <p><strong>Жанр: </strong>Портрет</p>
                            <p><strong>Страна: </strong>Россия</p>
                            <p><strong>Инвентарный номер: </strong>Инф. 123654</p>

                        </div>
                        <a class="btn" href="#">Заказать копию</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="other-gallery">
        <div class="container">
            <div class="other-news">
                <div class="events-slider-header">
                    <h2>Другие работы автора</h2>
                </div>
                <div class="events-slider-wrap">
                    <div class="row">
                        <div class="collections-item">
                            <a class="show-img-link" href="#">
                                <span class="show-img-wrap">
                                    <img class="show-img" src="images/coll1.jpg" alt="">
                                </span>
                            </a>
                            <span class="autor-collection">Кустодиев Борис Михайлович</span>
                            <a href="#" class="autor-title">Портрет Леонида Павловича Альбрехта нахзвание в две строки</a>
                        </div>
                        <div class="collections-item">
                            <a class="show-img-link" href="#">
                                <span class="show-img-wrap">
                                    <img class="show-img" src="images/coll2.jpg" alt="">
                                </span>
                            </a>
                            <span class="autor-collection">Константинопольский Константин Константинович</span>
                            <a href="#" class="autor-title">Портрет Леонида Павловича Альбрехта</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

//= ./partials/footer.html
