//= ./partials/header.html

<main>
    <div class="callback-link">
        <div class="container">
            <a href="#">Вернуться к новостям</a>
        </div>
    </div>
    <div class="interior-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="one-news__caption">
                        <p class="note">Мероприятие</p>
                        <h1>Mероприятие Союза музеев России и Русского музея в Тверской областной картинной галерее</h1>
                        <p class="date">Опубликовано 18.10.2018</p>
                    </div>
                    <div class="one-news__text">
                        <img src="images/new.jpg" alt="" />
                        <div class="text">
                            <p>Цикл интегрирует урбанистический метаязык. Метаязык неизменяем. Абстрактное высказывание, по определению фонетически иллюстрирует метаязык.</p>
                            <p>Субъективное восприятие просветляет не-текст. Стихотворение отталкивает конструктивный генезис свободного стиха. Дактиль недоступно аннигилирует сюжетный брахикаталектический стих. Обсценная идиома откровенна. Аллюзия уязвима.</p>
                            <p>После того как тема сформулирована, хорей абсурдно приводит деструктивный зачин. Подтекст, если уловить хореический ритм или аллитерацию на "р", фонетически притягивает диссонансный орнаментальный сказ. Мифопорождающее текстовое устройство, как бы это ни казалось парадоксальным, приводит резкий полифонический роман. В данном случае можно согласиться с А.А. Земляковским и с румынским исследователем Альбертом Ковачем, считающими, что впечатление диссонирует литературный контрапункт, таким образом, очевидно, что в нашем языке царит дух карнавала, пародийного отстранения. Механизм сочленений, несмотря на внешние воздействия, вразнобой дает реформаторский пафос, тем не менее узус никак не предполагал здесь родительного падежа.</p>
                            <p class="note">Цикл интегрирует урбанистический метаязык. Метаязык неизменяем. Абстрактное высказывание, по определению фонетически иллюстрирует метаязык.</p>
                            <ul>
                                <li>Один</li>
                                <li>Два</li>
                                <li>Три</li>
                            </ul>
                            <div class="hash-tags">
                                <a href="#">холст</a>
                                <a href="#">масло</a>
                                <a href="#">живописть</a>
                            </div>
                            <a href="#" class="share">Поделиться <img src="images/share.png" alt=""></a>
                            <div class="gallery-social">
                                <a href="#"><img src="images/facebook.svg" alt=""></a>
                                <a href="#"><img src="images/vk.svg" alt=""></a>
                                <a href="#"><img src="images/twit.svg" alt=""></a>
                                <a href="#"><img src="images/pinterest.svg" alt=""></a>
                                <a href="#"><img src="images/livejournal.svg" alt=""></a>
                                <a href="#"><img src="images/telegram.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="opening-hours">
                        <div class="opening-hours__item">
                            <p><strong>Дата и время:</strong></p>
                            <p>14.10.2018 в 18:00</p>
                        </div>
                        <div class="opening-hours__item">
                            <p><strong>Адрес:</strong></p>
                            <p>Тверская областная картинная галерея</p>
                            <p>г. Тверь, ул. Советская, д. 3 </p>
                        </div>
                        <div class="opening-hours__item">
                            <p><strong>Телефон для справок:</strong></p>
                            <p><a href="tel:84822342561" class="link">(48-22) 34-25-61</a></p>
                        </div>
                        <a class="btn" href="#">Купить билет</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="other-news__block news-main events-slider-container">
        <div class="container">
            <div class="other-news">
                <div class="events-slider-header">
                    <h2>Другие новости и события</h2>
                    <div class="slider-arrows-wrap"></div>
                </div>
                <div class="events-slider-wrap">
                    <div class="slider-other owl-carousel">
                        <div class="events-slider__item">
                            <div class="news-main-item"><a class="news-main-item__img-wrap" href="#"><img class="news-main-item__img events-slider__item-img" src="images/news2.jpg" alt=""></a></div>
                            <div class="news-main-item__date">14.10.2018</div>
                            <div class="news-main-item__title"><a href="#">Мероприятия антинаркотической и антитеррористической тематики</a></div><a class="news-main-item__more link-more" href="#">Подробнее</a>
                        </div>
                        <div class="events-slider__item">
                            <div class="news-main-item"><a class="news-main-item__img-wrap" href="#"><img class="news-main-item__img events-slider__item-img" src="images/news.jpg" alt=""></a></div>
                            <div class="news-main-item__date">14.10.2018</div>
                            <div class="news-main-item__title"><a href="#">Совместное мероприятие Союза музеев России и Русского музея в Тверской областной картинной галерее</a></div><a class="news-main-item__more link-more" href="#">Подробнее</a>
                        </div>
                        <div class="events-slider__item">
                            <div class="news-main-item"><a class="news-main-item__img-wrap" href="#"><img class="news-main-item__img events-slider__item-img" src="images/news3.jpg" alt=""></a></div>
                            <div class="news-main-item__date">14.10.2018</div>
                            <div class="news-main-item__title"><a href="#">Афиша Тверской областной картинной галереи на октябрь 2018 года</a></div><a class="news-main-item__more link-more" href="#">Подробнее</a>
                        </div>
                        <div class="events-slider__item">
                            <div class="news-main-item"><a class="news-main-item__img-wrap" href="#"><img class="news-main-item__img events-slider__item-img" src="images/news4.jpg" alt=""></a></div>
                            <div class="news-main-item__date">14.10.2018</div>
                            <div class="news-main-item__title"><a href="#">Совместное мероприятие Союза музеев России и Русского музея в Тверской областной картинной галерее</a></div><a class="news-main-item__more link-more" href="#">Подробнее</a>
                        </div>
                        <div class="events-slider__item">
                            <div class="news-main-item"><a class="news-main-item__img-wrap" href="#"><img class="news-main-item__img events-slider__item-img" src="images/news2.jpg" alt=""></a></div>
                            <div class="news-main-item__date">14.10.2018</div>
                            <div class="news-main-item__title"><a href="#">Мероприятия антинаркотической и антитеррористической тематики</a></div><a class="news-main-item__more link-more" href="#">Подробнее</a>
                        </div>
                        <div class="events-slider__item">
                            <div class="news-main-item"><a class="news-main-item__img-wrap" href="#"><img class="news-main-item__img events-slider__item-img" src="images/news.jpg" alt=""></a></div>
                            <div class="news-main-item__date">14.10.2018</div>
                            <div class="news-main-item__title"><a href="#">Совместное мероприятие Союза музеев России и Русского музея в Тверской областной картинной галерее</a></div><a class="news-main-item__more link-more" href="#">Подробнее</a>
                        </div>
                        <div class="events-slider__item">
                            <div class="news-main-item"><a class="news-main-item__img-wrap" href="#"><img class="news-main-item__img events-slider__item-img" src="images/news3.jpg" alt=""></a></div>
                            <div class="news-main-item__date">14.10.2018</div>
                            <div class="news-main-item__title"><a href="#">Афиша Тверской областной картинной галереи на октябрь 2018 года</a></div><a class="news-main-item__more link-more" href="#">Подробнее</a>
                        </div>
                        <div class="events-slider__item">
                            <div class="news-main-item"><a class="news-main-item__img-wrap" href="#"><img class="news-main-item__img events-slider__item-img" src="images/news4.jpg" alt=""></a></div>
                            <div class="news-main-item__date">14.10.2018</div>
                            <div class="news-main-item__title"><a href="#">Совместное мероприятие Союза музеев России и Русского музея в Тверской областной картинной галерее</a></div><a class="news-main-item__more link-more" href="#">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="news-main__btn-wrap"><a class="btn" href="#">Все новости</a></div>
            </div>
        </div>
    </section>
</main>

//= ./partials/footer.html
