//= ./partials/header.html

<main>
    <div class="search-resault">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form class="search__form" action="">
                        <input class="search__form-input input-styled" type="text" placeholder="Запрос">
                        <button type="submit">Поиск</button>
                    </form>
                    <div class="search-resault__block">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Результаты: <strong>45</strong></p>
                            </div>
                            <div class="col-md-6">
                                <div class="radiobox">
                                    <p><input type="radio" name="radiobox-item" id="id1"><label for="id1">По дате</label></p>
                                    <p><input type="radio" name="radiobox-item" id="id2" checked="checked"><label for="id2">По релевантности</label></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="search-resault__content">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-12">
                    <div class="search-resault__menu">
                        <ul>
                            <li><a href="#" class="selected">Выставки <span class="quantity">4</span></a></li>
                            <li><a href="#">События <span class="quantity">21</span></a></li>
                            <li><a href="#">История <span class="quantity">3</span></a></li>
                            <li><a href="#">Новости <span class="quantity">15</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-10 col-12">
                    <div class="search-resault__content-block">
                        <div class="search-resault__item">
                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <a href="#"><img src="images/memory.jpg" alt=""></a>
                                </div>
                                <div class="col-md-8 col-12">
                                    <div class="text">
                                        <div class="details">
                                            <p class="note">Выставки</p>
                                            <p class="date">14.10.2018 в 18:00</p>
                                        </div>
                                        <a href="#" class="title">Мероприятия антинаркотической и антитеррористической тематики</a>
                                        <p>Приглашение к подаче ценовых предложений в рамках Проекта "Сохранение и использование культурного наследия в России " подпроект "Модернизация Центра культуры и искусства - Дача "Чайка" художника В.К. Бялыницкого-Бируля" от 18 июня 2018 год...</p>
                                        <div class="location-item show-main-item__location">
                                            <span class="location-item__ic"></span>
                                            <a class="location-item__text" href="#" tabindex="-1">Тверская областная картинная галерея</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="search-resault__item">
                            <div class="row">
                                <div class="col-12">
                                    <div class="text">
                                        <div class="details">
                                            <p class="note">Веб-страница</p>
                                        </div>
                                        <a href="#" class="title">Герои романа «Война и мир» в иллюстрациях Владимира Александровича Серова»</a>
                                        <p>Приглашение к подаче ценовых предложений в рамках Проекта "Сохранение и использование культурного наследия в России " подпроект "Модернизация Центра культуры и искусства - Дача "Чайка" художника В.К. Бялыницкого-Бируля" от 18 июня 2018 год...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="search-resault__item">
                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <a href="#"><img src="images/memory.jpg" alt=""></a>
                                </div>
                                <div class="col-md-8 col-12">
                                    <div class="text">
                                        <div class="details">
                                            <p class="note">Выставки</p>
                                            <p class="date">14.10.2018 в 18:00</p>
                                        </div>
                                        <a href="#" class="title">Герои романа «Война и мир» в иллюстрациях Владимира Александровича Серова»</a>
                                        <p>Приглашение к подаче ценовых предложений в рамках Проекта "Сохранение и использование культурного наследия в России " подпроект "Модернизация Центра культуры и искусства - Дача "Чайка" художника В.К. Бялыницкого-Бируля" от 18 июня 2018 год...</p>
                                        <div class="location-item show-main-item__location">
                                            <span class="location-item__ic"></span>
                                            <a class="location-item__text" href="#" tabindex="-1">Тверская областная картинная галерея</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="search-resault__item">
                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <a href="#"><img src="images/memory.jpg" alt=""></a>
                                </div>
                                <div class="col-md-8 col-12">
                                    <div class="text">
                                        <div class="details">
                                            <p class="note">Выставки</p>
                                            <p class="date">14.10.2018 в 18:00</p>
                                        </div>
                                        <a href="#" class="title">Герои романа «Война и мир» в иллюстрациях Владимира Александровича Серова»</a>
                                        <p>Приглашение к подаче ценовых предложений в рамках Проекта "Сохранение и использование культурного наследия в России " подпроект "Модернизация Центра культуры и искусства - Дача "Чайка" художника В.К. Бялыницкого-Бируля" от 18 июня 2018 год...</p>
                                        <div class="location-item show-main-item__location">
                                            <span class="location-item__ic"></span>
                                            <a class="location-item__text" href="#" tabindex="-1">Тверская областная картинная галерея</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collections-main__btn-wrap text-center">
                            <a class="btn" href="#">Показать еще</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

//= ./partials/footer.html
