//= ./partials/header.html

<main class="text-page">
   <div class="shop-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="shop-block__text">
                    <h1>Магазин</h1>
                    <p>Приглашаем посетить магазин тверской областной картинной галереи. Здсь вы найдете сувенирную продукцию ( магниты, кружки, ложки, сумки от золотошвей ). Приглашаем посетить магазин тверской областной картинной галереи. Здсь вы найдете сувенирную продукцию ( магниты, кружки, ложки, сумки от золотошвей ).</p>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="opening-hours">
                    <p><strong>Часы работы:</strong></p>
                    <div class="opening-hours__block">
                        <div class="day">
                            <p>Ср—Вскр:</p>
                        </div>
                        <div class="time">
                            <p>10:00 — 18:00</p>
                        </div>
                    </div>
                    <div class="opening-hours__block">
                        <div class="day">
                            <p>Пн—Вт:</p>
                        </div>
                        <div class="time">
                            <p>Выходной</p>
                        </div>
                    </div>
                    <p><span>Магазин находится в фойе справа от гардероба</span></p>
                    <p><strong>Телефон для справок:</strong></p>
                    <p><a href="tel:84822342561" class="link">(48-22) 34-25-61</a></p>
                </div>
            </div>
            <div class="col">
                <form class="search__form" action="">
                    <input class="search__form-input input-styled" type="text" placeholder="Поиск по ключевому слову">
                    <input class="search__form-btn btn-reset" type="submit">
                </form>
            </div>
        </div>

        <div class="shop-block">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                    <div class="shop-block__item">
                        <div class="shop-block__image">
                            <a href="#" data-toggle="modal" data-target="#productModal_23"><img src="images/product1.png" alt="" /></a>
                            <p class="price">150 <img src="images/rub.png" alt="" /></p>
                        </div>
                        <div class="shop-block__link">
                            <a href="#" class="link" data-toggle="modal" data-target="#productModal_23">Название товара, состоящее из двух строк</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                    <div class="shop-block__item">
                        <div class="shop-block__image">
                            <a href="#"><img src="images/product2.png" alt="" /></a>
                            <p class="price">50 <img src="images/rub.png" alt="" /></p>
                        </div>
                        <div class="shop-block__link">
                            <a href="#" class="link">Магнитик</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                    <div class="shop-block__item">
                        <div class="shop-block__image">
                            <a href="#"><img src="images/product1.png" alt="" /></a>
                            <p class="price">150 <img src="images/rub.png" alt="" /></p>
                        </div>
                        <div class="shop-block__link">
                            <a href="#" class="link">Название товара, состоящее из трех строк название товара, состоящее из трех строк</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                    <div class="shop-block__item">
                        <div class="shop-block__image">
                            <a href="#"><img src="images/product2.png" alt="" /></a>
                            <p class="price">50 <img src="images/rub.png" alt="" /></p>
                        </div>
                        <div class="shop-block__link">
                            <a href="#" class="link">Магнитик</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                    <div class="shop-block__item">
                        <div class="shop-block__image">
                            <a href="#"><img src="images/product1.png" alt="" /></a>
                            <p class="price">150 <img src="images/rub.png" alt="" /></p>
                        </div>
                        <div class="shop-block__link">
                            <a href="#" class="link">Название товара, состоящее из двух строк</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                    <div class="shop-block__item">
                        <div class="shop-block__image">
                            <a href="#"><img src="images/product2.png" alt="" /></a>
                            <p class="price">50 <img src="images/rub.png" alt="" /></p>
                        </div>
                        <div class="shop-block__link">
                            <a href="#" class="link">Магнитик</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                    <div class="shop-block__item">
                        <div class="shop-block__image">
                            <a href="#"><img src="images/product1.png" alt="" /></a>
                            <p class="price">150 <img src="images/rub.png" alt="" /></p>
                        </div>
                        <div class="shop-block__link">
                            <a href="#" class="link">Название товара, состоящее из трех строк название товара, состоящее из трех строк</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                    <div class="shop-block__item">
                        <div class="shop-block__image">
                            <a href="#"><img src="images/product2.png" alt="" /></a>
                            <p class="price">50 <img src="images/rub.png" alt="" /></p>
                        </div>
                        <div class="shop-block__link">
                            <a href="#" class="link">Магнитик</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                    <div class="shop-block__item">
                        <div class="shop-block__image">
                            <a href="#"><img src="images/product1.png" alt="" /></a>
                            <p class="price">150 <img src="images/rub.png" alt="" /></p>
                        </div>
                        <div class="shop-block__link">
                            <a href="#" class="link">Название товара, состоящее из двух строк</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                    <div class="shop-block__item">
                        <div class="shop-block__image">
                            <a href="#"><img src="images/product2.png" alt="" /></a>
                            <p class="price">50 <img src="images/rub.png" alt="" /></p>
                        </div>
                        <div class="shop-block__link">
                            <a href="#" class="link">Магнитик</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                    <div class="shop-block__item">
                        <div class="shop-block__image">
                            <a href="#"><img src="images/product1.png" alt="" /></a>
                            <p class="price">150 <img src="images/rub.png" alt="" /></p>
                        </div>
                        <div class="shop-block__link">
                            <a href="#" class="link">Название товара, состоящее из трех строк название товара, состоящее из трех строк</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                    <div class="shop-block__item">
                        <div class="shop-block__image">
                            <a href="#"><img src="images/product2.png" alt="" /></a>
                            <p class="price">50 <img src="images/rub.png" alt="" /></p>
                        </div>
                        <div class="shop-block__link">
                            <a href="#" class="link">Магнитик</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="collections-main__btn-wrap text-center"><a class="btn" href="#">Показать еще</a></div>
    </div>
    </div>
</main>

//= ./partials/footer.html