//= ./partials/header.html

<main class="text-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="vacancy-block">
                    <h1 class="page__title">Вакансии</h1>
                </div>
            </div>
            <div class="col-lg-8 col-12">
                <div class="vacancy-content">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <button class="bth-accordion" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Уборщица
                                </button>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Цикл интегрирует урбанистический метаязык. Метаязык неизменяем. Абстрактное высказывание, по определению фонетически иллюстрирует метаязык.</p>
                                    <p>Субъективное восприятие просветляет не-текст. Стихотворение отталкивает конструктивный генезис свободного стиха. Дактиль недоступно аннигилирует сюжетный брахикаталектический стих. Обсценная идиома откровенна. Аллюзия уязвима.</p>
                                    <ul>
                                        <li>Один</li>
                                        <li>Два</li>
                                        <li>Три</li>
                                    </ul>
                                    <ol>
                                        <li>Один</li>
                                        <li>Два</li>
                                        <li>Три</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <button class="bth-accordion collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Охранник
                                </button>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Цикл интегрирует урбанистический метаязык. Метаязык неизменяем. Абстрактное высказывание, по определению фонетически иллюстрирует метаязык.</p>
                                    <ul>
                                        <li>Один</li>
                                        <li>Два</li>
                                        <li>Три</li>
                                    </ul>
                                    <ol>
                                        <li>Один</li>
                                        <li>Два</li>
                                        <li>Три</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <button class="bth-accordion collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Заведующая
                                </button>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Цикл интегрирует урбанистический метаязык. Метаязык неизменяем. Абстрактное высказывание, по определению фонетически иллюстрирует метаязык.</p>
                                    <p>Субъективное восприятие просветляет не-текст. Стихотворение отталкивает конструктивный генезис свободного стиха. Дактиль недоступно аннигилирует сюжетный брахикаталектический стих. Обсценная идиома откровенна. Аллюзия уязвима.</p>
                                    <ul>
                                        <li>Один</li>
                                        <li>Два</li>
                                        <li>Три</li>
                                    </ul>
                                    <ol>
                                        <li>Один</li>
                                        <li>Два</li>
                                        <li>Три</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

//= ./partials/footer.html
