//= ./partials/header.html

<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="documents-block">
                    <h1>Закупки</h1>
                </div>
                <div class="documents-menu">
                    <div class="col-lg-8 col-12">
                        <div class="purchases-block">
                            <ul class="documents-list">
                                <li><a href="#">Приглашение к подаче ценовых предложений в рамках Проекта "Сохранение и использование культурного наследия в России " подпроект "Модернизация Центра культуры и искусства - Дача "Чайка" художника В.К. Бялыницкого-Бируля" от 18 июня 2018 год</a></li>
                                <li><a href="#">Приглашение к участию в торгах (малые архитектурные формы)</a></li>
                                <li><a href="#">Приглашение у участию в торгах «Поставка экспозиционного оборудования».</a></li>
                                <li><a href="#">Приглашение к участию в торгах</a></li>
                                <li><a href="#">Приглашение к подаче ценовых предложений на поставку электрооборудования для Центра культуры и искусства - дача "Чайка" художника В.К. Бялыницкого-Бируля - филиала ГБУК ТОКГ</a></li>
                                <li><a href="#">Приглашение к подаце ценовых предложений для реализации проекта «СОХРАНЕНИЕ И ИСПОЛЬЗОВАНИЕ КУЛЬТУРНОГО НАСЛЕДИЯ РОССИИ»для Центра культуры и искусства – дача «Чайка» художника В.К. Бялыницкого- Бируля - филиала ГБУК ТОКГ. </a></li>
                                <li><a href="#">Приглашение к подаче ценовых предложений для закупки товаров, предназначенных для досуга посетителей Мемориально-художественного музея Валентина Александровича Серова в «Домотканово»</a></li>
                                <li><a href="#">Приглашение к подаче ценовых предложений на поставку гужевого транспорта и упряжь, предназначенного для досуга посетителей Мемориально-художественного музея В.А.Серова в Домотканово - филиала ГБУК ТО "Тверская областная картинная галерея"</a></li>
                                <li><a href="#">Приглашение к подаче ценовых предложений для закупки товаров предназначенных для досуга посетителей Мемориально-художественного музея Валентина Александровича Серова в «Домотканово»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

//= ./partials/footer.html
